/*
============================================
============================================
* 
* ELSURTI
* v2.0
* date: 1 JUL 2018
* Author: @whhhaaaaaaat
* 
============================================
============================================
Modificado el 01 de septiembre 2018 - Vivi
Modificado el 03 de septiembre 2018 - Vivi
Modificado el 12 de septiembre 2018 - Vivi
Modificado el 19 de septiembre 2018 - Vivi
Modificado el 17 de octubre 2018 - Vivi
Modificado el 20 de octubre 2018 - Vivi
Modificado el 23 de octubre 2018 - Vivi
Modificado el 23 de octubre 2018 - Vivi
Modificado el 30 de octubre 2018 - Vivi
Modificado el 17 de diciembre 2018 - Vivi
Modificado el 28 de diciembre 2018 - Vivi
Modificado el 31 de enero 2019 - Vivi
Modificado el 12 de marzo 2019 - Vivi
Modificado el 27 de junio 2019 - Vivi
Modificado el 01 de julio 2019 - Vivi

============================================
============================================

*/
@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansRegular.eot");
  src: url("../../fonts/AlegreyaSansRegular.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansRegular.woff2") format("woff2"), url("../../fonts/AlegreyaSansRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansItalic.eot");
  src: url("../../fonts/AlegreyaSansItalic.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansItalic.woff2") format("woff2"), url("../../fonts/AlegreyaSansItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansMedium.eot");
  src: url("../../fonts/AlegreyaSansMedium.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansMedium.woff2") format("woff2"), url("../../fonts/AlegreyaSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansBoldItalic.eot");
  src: url("../../fonts/AlegreyaSansBoldItalic.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansBoldItalic.woff2") format("woff2"), url("https://elsurti.com/wp-content/themes/elsurti/fonts/AlegreyaSansBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansBold.eot");
  src: url("../../fonts/AlegreyaSansBold.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansBold.woff2") format("woff2"), url("../../fonts/AlegreyaSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'Alegreya';
  src: url("../../fonts/AlegreyaRegular.eot");
  src: url("../../fonts/AlegreyaRegular.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaRegular.woff2") format("woff2"), url("../../fonts/AlegreyaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

/*ALEGREYA SC*/
@font-face {
  font-family: 'AlegreyaSC';
  src: url("../../fonts/AlegreyaSC-Regular.eot");
  src: url("../../fonts/AlegreyaSC-Regular.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSC-Regular.woff2") format("woff2"), url("../../fonts/AlegreyaSC-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

/*ALEGREYA SANS SC*/
@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("../../fonts/AlegreyaSansSC-Regular.eot");
  src: url("../../fonts/AlegreyaSansSC-Regular.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansSC-Regular.woff2") format("woff2"), url("../../fonts/AlegreyaSansSC-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("../../fonts/AlegreyaSansSC-Medium.eot");
  src: url("../../fonts/AlegreyaSansSC-Medium.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansSC-Medium.woff2") format("woff2"), url("../../fonts/AlegreyaSansSC-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("../../fonts/AlegreyaSansSC-Bold.eot");
  src: url("../../fonts/AlegreyaSansSC-Bold.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansSC-Bold.woff2") format("woff2"), url("../../fonts/AlegreyaSansSC-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

/*PILOT*/
@font-face {
  font-family: 'Pilot';
  src: url("../../fonts/PilotRegular.eot");
  src: url("../../fonts/PilotRegular.eot@") format("embedded-opentype"), url("../../fonts/PilotRegular.woff2") format("woff2"), url("../../fonts/PilotRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

@font-face {
  font-family: 'Pilot';
  src: url("../../fonts/PilotBold.eot");
  src: url("../../fonts/PilotBold.eot@") format("embedded-opentype"), url("../../fonts/PilotBold.woff2") format("woff2"), url("../../fonts/PilotBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

@font-face {
  font-family: 'Pilot';
  src: url("../../fonts/PilotBlack.eot");
  src: url("../../fonts/PilotBlack.eot@") format("embedded-opentype"), url("../../fonts/PilotBlack.woff2") format("woff2"), url("../../fonts/PilotBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  overflow-x: hidden; }

strong {
  font-weight: bold; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.npd {
  padding: 0; }

.clear {
  clear: both; }

img {
  max-width: 100%; }

a, a:hover, a:focus, a:active, input:focus, textarea:focus, button:focus {
  text-decoration: none;
  outline: none;
  color: inherit; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

.seccion {
  display: block;
  position: relative;
  line-height: 0;
  overflow: hidden; }
  .seccion > * {
    line-height: 1; }

button {
  background: none; }

hr {
  border: none;
  background: none;
  height: 1px;
  background-color: #9B9B9B;
  margin: 10px -20px;
  position: relative; }

.bloque,
.bloque-arriba,
.bloque-abajo,
.bloque-medio {
  width: 100%; }

.bloque-resto {
  width: 100%;
  flex-grow: 1; }

.bloque-arriba {
  align-self: flex-start; }

.bloque-medio {
  align-self: center; }

.bloque-abajo {
  align-self: flex-end; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

h1, h3, .hero, .hero--thin, .hero--big {
  font-family: 'Pilot'; }

em {
  font-style: italic; }

button {
  cursor: pointer; }

.volanta, .copete, .paragraph--1, .epigrafe, h2, blockquote, .blockquote, .blockquote--big, .small {
  font-family: 'AlegreyaSans'; }

.copete, .epigrafe, blockquote, .blockquote, .blockquote--big {
  font-style: italic; }

.hero--thin {
  font-weight: normal; }

.hero--big {
  font-size: 70px;
  font-weight: 900; }

.copete, h1, h2, h3, .hero {
  font-weight: bold; }

.hero, .hero--thin, .blockquote--big {
  font-size: 30px; }

.copete, .paragraph {
  font-size: 21px;
  line-height: 1em; }
  .copete a, .paragraph a {
    color: inherit;
    text-decoration: underline; }

.epigrafe, .footnote, .small {
  font-size: 17px; }

.epigrafe a {
  text-decoration: underline; }

.volanta {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: 'AlegreyaSansSC';
  text-transform: lowercase; }

.paragraph {
  font-family: 'Alegreya';
  font-weight: normal; }
  .paragraph--1 {
    font-size: 21px;
    font-weight: normal;
    line-height: 1em; }
    .paragraph--1 a {
      color: inherit;
      text-decoration: underline; }
  .paragraph--2 {
    font-family: 'AlegreyaSans';
    font-size: 21px; }

h1, h2, h3 {
  margin-bottom: 15px; }

h1 {
  font-size: 34px;
  line-height: 1em; }

h2 {
  font-family: 'AlegreyaSansSC';
  text-transform: uppercase;
  font-size: 25px; }

h3 {
  font-size: 32px; }

blockquote, .blockquote {
  font-size: 21px; }

strong {
  font-weight: 700; }

img.wp-smiley, img.emoji {
  vertical-align: middle !important;
  display: inline-block !important;
  margin-top: 3px !important; }

.footnote {
  /* font-weight: 400; */
  font-family: 'AlegreyaSansSC';
  text-transform: lowercase; }

.small {
  font-family: 'AlegreyaSansSC';
  font-weight: normal;
  text-transform: lowercase; }
  .small + p {
    padding-top: 15px; }

.factcheck blockquote {
  font-size: 30px;
  line-height: 1.2em; }

.seccion--texto + .seccion--texto .texto {
  padding-top: 0; }

.texto {
  padding: 30px 20px; }
  .texto p {
    line-height: 1.45; }
  .texto h1, .texto h2, .texto h3 {
    line-height: 1.3; }
  .texto a {
    color: #D67A00; }
  .texto a:hover {
    color: #F7A600; }
  .texto .paragraph--fistletter::first-letter {
    font-size: 5em;
    line-height: 0.7;
    vertical-align: top;
    margin-right: 5px;
    float: left; }
  .texto--bbpd {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/opico.svg);
    background-position: bottom 31px center;
    padding-bottom: 80px;
    background-size: 26px; }

.enfasis {
  padding: 30px;
  color: white;
  margin-bottom: 30px;
  background-size: 24px; }
  .enfasis .blockquote, .enfasis blockquote {
    line-height: 1.35; }

.patron {
  background-repeat: repeat;
  background-position: center; }
  .patron--1 {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/patrones/1.png); }

.row.flex--wrap:after, .row.flex--wrap:before {
  display: none; }

.flex {
  display: flex; }
  .flex--wrap {
    flex-wrap: wrap; }
  .flex--centermid {
    justify-content: center;
    align-items: center; }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: inline-block;
  vertical-align: middle; }
  .icon--scrolldown, .icon--scrolldown--white {
    width: 25px;
    height: 25px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-scrolldown.svg); }
  .icon--scrolldown--white {
    background-image: url(../../img/icon-scrolldownw.svg);
    animation: flecha;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    transform: translateY(5px); }
  .icon--play {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-play.svg);
    width: 17px;
    height: 17px;
    margin: 0 auto; }
  .icon--marker {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-marker.svg);
    width: 24px;
    height: 24px;
    margin-bottom: 10px; }
  .icon--mapinfo {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-mapinfo.png);
    width: 25px;
    height: 25px;
    margin-right: 10px; }
  .icon--chevleft {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-chevleft.svg);
    width: 10px;
    height: 10px;
    margin-right: 5px; }

.playing .icon--play {
  background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-pause.svg); }

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-family: 'AlegreyaSansSC';
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase; }
  .btn--border {
    display: block;
    margin: 15px auto;
    border: solid 1px black;
    border-radius: 40px;
    padding: 10px;
    min-width: 65%; }
    .btn--border-white {
      display: inline-block;
      margin: 15px 0;
      border-radius: 40px;
      padding: 10px 60px;
      border: solid 1px white;
      color: white; }
  .btn--background {
    display: block;
    margin: 15px auto;
    border: solid 1px black;
    border-radius: 40px;
    padding: 10px;
    min-width: 65%; }
    .btn--background-white {
      display: inline-block;
      margin: 15px 0;
      border-radius: 40px;
      padding: 10px 60px;
      background: white;
      color: black; }
      .btn--background-white:hover {
        background: black;
        color: white;
        transition: ease 0.5s all; }
  .btn--naranja {
    background-color: #F7A600;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--rojo {
    background-color: #d0021b;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--bolaterapia {
    background-color: #e62e2e;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--cierto {
    background-color: #51b848;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--humo {
    background-color: #f7931e;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--discutible {
    background-color: #b4bd4b;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--impreciso {
    background-color: #a17b62;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }

.linea {
  width: 2px;
  height: 100%;
  min-height: 10px;
  margin: 0 auto;
  display: block;
  background-color: white; }

.scroll-line {
  /* background-image: url(../../img/scroll-line.svg);
	background-repeat: repeat-y;
	background-position: center; */
  display: block;
  width: 100%;
  height: 76%;
  background-size: 26px auto; }

.patron {
  background-repeat: repeat !important;
  background-position: center !important;
  background-size: 24px !important; }
  .patron--1 {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/patron-1.png) !important; }

.white {
  color: white; }

.black {
  color: black; }

.mainscroll {
  /* 	&__copete{
		font-family: 'AlegreyaSans';
		font-size:32px;
		font-style:italic;
		font-weight:700;
		line-height: 1em
	} */ }
  .mainscroll .volanta {
    color: white;
    margin-bottom: 15px; }
  .mainscroll .hero--big {
    text-transform: uppercase; }
  .mainscroll__fecha {
    font-family: 'AlegreyaSansSC'; }

.block {
  padding-top: 50px;
  padding-bottom: 50px; }

.iconscroll {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .iconscroll--scroll {
    width: 33px;
    height: 18px;
    background-size: auto 100%;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-chevscroll.svg); }
  .iconscroll--flechader {
    width: 30px;
    height: 30px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-flechader.svg); }
  .iconscroll--flechaiz {
    width: 30px;
    height: 30px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-flechaiz.svg); }

.btnscroll {
  display: inline-block; }
  .btnscroll--serie {
    margin-top: 10px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/boton-serie.svg);
    background-size: 100% 100%;
    padding-right: 20%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.4em;
    font-weight: 500;
    animation-name: serie;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #FFF100; }

.respuestas:hover {
  background: black;
  color: white;
  border: 1px solid black;
  cursor: pointer; }

.respuestas:disabled, .respuestas[disabled] {
  background: white;
  color: #cccccc;
  border: 1px solid #cccccc;
  cursor: auto; }

.paleta--naranja *::selection {
  background: #D67A00;
  color: #F8E89A; }

.paleta--naranja .overlay {
  background: rgba(0, 0, 0, 0.3); }

.paleta--naranja .paragraph--fistletter::first-letter {
  color: #D67A00; }

.paleta--naranja main.main {
  background: #F7A600; }

.paleta--naranja .main--15__infocont {
  background: #D67A00; }

.paleta--naranja .main--15__infocont__infocont, .paleta--naranja .main-1__infocont {
  background: rgba(214, 122, 0, 0.5); }

.paleta--naranja .enfasis {
  background: #D67A00; }

.paleta--naranja .title, .paleta--naranja h2 {
  color: #D67A00; }

.paleta--naranja .main-3__playcont {
  background: rgba(214, 122, 0, 0.5); }

.paleta--naranja .raizgral_timeline h2 {
  background: #D67A00;
  color: white; }

.paleta--naranja .raizgral_timeline section:nth-child(3n+1) .timeline {
  background-color: #B23F06; }
  .paleta--naranja .raizgral_timeline section:nth-child(3n+1) .timeline__fecha h2 {
    background: #D67A00;
    color: white; }

.paleta--naranja .raizgral_timeline section:nth-child(3n+2) .timeline {
  background-color: #D67A00; }
  .paleta--naranja .raizgral_timeline section:nth-child(3n+2) .timeline__fecha h2 {
    background: #B23F06;
    color: white; }

.paleta--naranja .raizgral_timeline section:nth-child(3n+3) .timeline {
  background-color: #F7A600; }

.paleta--naranja .raizgral_timeline section:last-of-type div {
  background-color: #FDC75F;
  color: white; }

.paleta--naranja .formulario input[type=text]:focus, .paleta--naranja .formulario textarea:focus, .paleta--naranja .formulario input[type=email]:focus {
  outline: 1px solid #D67A00; }

.paleta--naranja .formulario input[type=submit] {
  background: #D67A00; }

.paleta--verde *::selection {
  background: #2A7269;
  color: #C9E1E8; }

.paleta--verde main.main {
  background: #2A7269; }

.paleta--verde .main--15__infocont__infocont, .paleta--verde .main-1__infocont {
  background: rgba(42, 114, 105, 0.5); }

.paleta--verde .main--15__infocont {
  background: #2A7269; }

.paleta--verde .btn--naranja {
  background: #9CC7C6; }

.paleta--verde .texto a {
  color: #2A7269; }

.paleta--verde .texto a:hover {
  color: #2A7269; }

.paleta--verde .cta {
  background: #2A7269; }
  .paleta--verde .cta .btn {
    background: #F7A600; }
    .paleta--verde .cta .btn:hover {
      background: #D67A00; }

.paleta--verde .enfasis {
  background-color: #2A7269; }

.paleta--verde .paragraph--fistletter::first-letter {
  color: #2A7269; }

.paleta--verde .main-3__playcont {
  background: rgba(42, 114, 105, 0.5); }

.paleta--verde .listacat {
  color: white; }
  .paleta--verde .listacat__title {
    background: #B4D5D4;
    color: #2A7269; }
  .paleta--verde .listacat__lista li:nth-child(3n+1) {
    background-color: #2A7269; }
  .paleta--verde .listacat__lista li:nth-child(3n+2) {
    background-color: #679B90; }
  .paleta--verde .listacat__lista li:nth-child(3n+3) {
    background-color: #9CC7C6; }

.paleta--verde .raizgral_timeline section:nth-child(3n+1) .timeline {
  background-color: #2A7269; }
  .paleta--verde .raizgral_timeline section:nth-child(3n+1) .timeline__fecha h2 {
    background-color: #679B90; }

.paleta--verde .raizgral_timeline section:nth-child(3n+2) .timeline {
  background-color: #679B90; }
  .paleta--verde .raizgral_timeline section:nth-child(3n+2) .timeline__fecha h2 {
    background-color: #2A7269; }

.paleta--verde .raizgral_timeline section:nth-child(3n+3) .timeline {
  background-color: #9CC7C6; }
  .paleta--verde .raizgral_timeline section:nth-child(3n+3) .timeline__fecha h2 {
    background-color: #679B90; }

.paleta--verde .raizgral_timeline section:last-of-type div {
  background-color: #B4D5D4;
  color: white; }
  .paleta--verde .raizgral_timeline section:last-of-type div__fecha h2 {
    background-color: #9CC7C6; }

.paleta--verde .formulario input[type=text]:focus, .paleta--verde .formulario textarea:focus, .paleta--verde .formulario input[type=email]:focus {
  outline: 1px solid #2A7269; }

.paleta--verde .formulario input[type=submit] {
  background: #2A7269; }

.paleta--negra .main__bgs {
  background: #222; }

.paleta--negra *::selection {
  background: #000;
  color: #fff; }

.paleta--negra .main--15__infocont {
  background: #000A12; }

.paleta--negra .enfasis {
  background-color: #000; }

.paleta--negra .paragraph a {
  color: #000 !important; }

.paleta--negra .listacat {
  color: white; }
  .paleta--negra .listacat__title {
    background-color: #000; }
  .paleta--negra .listacat__lista li:nth-child(3n+1) {
    background-color: #333; }
  .paleta--negra .listacat__lista li:nth-child(3n+2) {
    background-color: #222; }
  .paleta--negra .listacat__lista li:nth-child(3n+3) {
    background-color: #111; }

.paleta--negra .fulllistacabeceras .volanta {
  color: white; }

.paleta--negra .raizgral_timeline section:nth-child(3n+1) .timeline {
  background-color: #333; }
  .paleta--negra .raizgral_timeline section:nth-child(3n+1) .timeline__fecha h2 {
    background-color: #111; }

.paleta--negra .raizgral_timeline section:nth-child(3n+2) .timeline {
  background-color: #222; }
  .paleta--negra .raizgral_timeline section:nth-child(3n+2) .timeline__fecha h2 {
    background-color: #333; }

.paleta--negra .raizgral_timeline section:nth-child(3n+3) .timeline {
  background-color: #111; }
  .paleta--negra .raizgral_timeline section:nth-child(3n+3) .timeline__fecha h2 {
    background-color: #222; }

.paleta--negra .raizgral_timeline section:last-of-type div {
  background-color: #000;
  color: white; }
  .paleta--negra .raizgral_timeline section:last-of-type div__fecha h2 {
    background-color: #111; }

.paleta--negra .raizgral_factcheck .volanta, .paleta--negra .raizgral_factcheck_resuelto .volanta, .paleta--negra.raizgral_factcheck_resuelto .volanta {
  color: #fff; }

.paleta--negra .raizgral_factcheck .main__bgs, .paleta--negra .raizgral_factcheck_resuelto .main__bgs, .paleta--negra.raizgral_factcheck_resuelto .main__bgs {
  background: #222; }

.paleta--negra .formulario input[type=text]:focus, .paleta--negra .formulario textarea:focus, .paleta--negra .formulario input[type=email]:focus {
  outline: 1px solid #000; }

.paleta--negra .formulario input[type=submit] {
  background: #000; }

.paleta--gris .main h1 {
  color: #fff; }

.paleta--gris .main__bgs {
  background: #ECEBE0;
  color: #fff; }

.paleta--gris .main__infocont {
  color: #fff; }

.paleta--gris .main--15__infocont {
  background: #484848; }

.paleta--gris .listacat {
  color: #111; }
  .paleta--gris .listacat h2 {
    color: #111; }
  .paleta--gris .listacat__title {
    background-color: #000;
    color: white; }
  .paleta--gris .listacat__lista li:nth-child(3n+1) {
    background-color: #E2E2E2; }
  .paleta--gris .listacat__lista li:nth-child(3n+2) {
    background-color: #D7D7D7; }
  .paleta--gris .listacat__lista li:nth-child(3n+3) {
    background-color: #E1E1E1; }

.paleta--gris .raizgral_timeline .main .volanta, .paleta--gris .raizgral_timeline .main h1 {
  color: #111; }

.paleta--gris .raizgral_timeline .main .main--5__lapso h2 {
  background: #111;
  color: white; }

.paleta--gris .raizgral_timeline section:nth-child(3n+1) .timeline {
  color: #111;
  background-color: #E2E2E2; }
  .paleta--gris .raizgral_timeline section:nth-child(3n+1) .timeline__fecha h2 {
    background-color: #111;
    color: white; }

.paleta--gris .raizgral_timeline section:nth-child(3n+2) .timeline {
  color: #111;
  background-color: #D7D7D7; }
  .paleta--gris .raizgral_timeline section:nth-child(3n+2) .timeline__fecha h2 {
    background-color: #333;
    color: white; }

.paleta--gris .raizgral_timeline section:nth-child(3n+3) .timeline {
  color: #111;
  background-color: #E1E1E1; }
  .paleta--gris .raizgral_timeline section:nth-child(3n+3) .timeline__fecha h2 {
    background-color: #222;
    color: white; }

.paleta--gris .raizgral_timeline section:last-of-type div {
  color: #111;
  background-color: #E2E2E2;
  color: white; }
  .paleta--gris .raizgral_timeline section:last-of-type div__fecha h2 {
    background-color: #111;
    color: white; }

.paleta--gris .paragraph a {
  color: #000 !important; }

.paleta--gris .raizgral_factcheck .main__bgs, .paleta--gris .raizgral_factcheck_resuelto .main__bgs {
  background: #E1E1E1; }

.paleta--gris .formulario input[type=text]:focus, .paleta--gris .formulario textarea:focus, .paleta--gris .formulario input[type=email]:focus {
  outline: 1px solid #000; }

.paleta--gris .formulario input[type=submit] {
  background: #000; }

.paleta--lila *::selection {
  background: #672650;
  color: #DFB4D0; }

.paleta--lila .main--15__infocont__infocont, .paleta--lila .main-1__infocont {
  background: rgba(103, 38, 80, 0.3); }

.paleta--lila .main--15__infocont {
  background: #AE4283; }

.paleta--lila main.main {
  background: #AE4283; }

.paleta--lila .btn--naranja {
  background: #F7A600; }

.paleta--lila .texto a {
  color: #AE4283; }

.paleta--lila .texto a:hover {
  color: #8D366E; }

.paleta--lila .cta {
  background: #AE4283; }
  .paleta--lila .cta .btn:hover {
    background: #B23F06; }

.paleta--lila .enfasis {
  background-color: #AE4283; }

.paleta--lila .paragraph--fistletter::first-letter {
  color: #AE4283; }

.paleta--lila .main-3__playcont {
  background: rgba(103, 38, 80, 0.4); }

.paleta--lila .listacat {
  color: white; }
  .paleta--lila .listacat__title {
    background: #8D366E;
    color: #DFB4D0; }
  .paleta--lila .listacat__lista li:nth-child(3n+1) {
    background-color: #672650; }
  .paleta--lila .listacat__lista li:nth-child(3n+2) {
    background-color: #AE4283; }
  .paleta--lila .listacat__lista li:nth-child(3n+3) {
    background-color: #8D366E; }

.paleta--lila .raizgral_timeline section:nth-child(3n+1) .timeline {
  background-color: #672650; }
  .paleta--lila .raizgral_timeline section:nth-child(3n+1) .timeline__fecha h2 {
    background-color: #AE4283; }

.paleta--lila .raizgral_timeline section:nth-child(3n+2) .timeline {
  background-color: #AE4283; }
  .paleta--lila .raizgral_timeline section:nth-child(3n+2) .timeline__fecha h2 {
    background-color: #672650; }

.paleta--lila .raizgral_timeline section:nth-child(3n+3) .timeline {
  background-color: #8D366E; }
  .paleta--lila .raizgral_timeline section:nth-child(3n+3) .timeline__fecha h2 {
    background-color: #AE4283; }

.paleta--lila .raizgral_timeline section:last-of-type div {
  background-color: #C786AD;
  color: white; }
  .paleta--lila .raizgral_timeline section:last-of-type div__fecha h2 {
    background-color: #8D366E; }

.paleta--lila .raizgral_factcheck .volanta, .paleta--lila .raizgral_factcheck_resuelto .volanta {
  color: white; }

.paleta--lila .formulario input[type=text]:focus, .paleta--lila .formulario textarea:focus, .paleta--lila .formulario input[type=email]:focus {
  outline: 1px solid #AE4283; }

.paleta--lila .formulario input[type=submit] {
  background: #AE4283; }

.paleta--azul *::selection {
  background: #003041;
  color: #85A3C8; }

.paleta--azul .main-3__playcont {
  background: rgba(0, 67, 92, 0.5); }

.paleta--azul .enfasis {
  background-color: #003041; }

.paleta--azul main.main {
  background: #00435C; }

.paleta--azul .main--15__infocont__infocont, .paleta--azul .main-1__infocont {
  background: rgba(0, 67, 92, 0.5); }

.paleta--azul .btn--naranja {
  background: #D67A00; }

.paleta--azul .texto a {
  color: #00435C; }

.paleta--azul .texto a:hover {
  color: #366183; }

.paleta--azul .cta {
  background: #003041; }
  .paleta--azul .cta .btn {
    background: #F7A600; }
    .paleta--azul .cta .btn:hover {
      background: #F7A600; }

.paleta--azul .paragraph--fistletter::first-letter {
  color: #003041; }

.paleta--azul .listacat {
  color: white; }
  .paleta--azul .listacat__title {
    background-color: #85A3C8; }
  .paleta--azul .listacat__lista li:nth-child(3n+1) {
    background-color: #00435C; }
  .paleta--azul .listacat__lista li:nth-child(3n+2) {
    background-color: #003041; }
  .paleta--azul .listacat__lista li:nth-child(3n+3) {
    background-color: #5D81A7; }

.paleta--azul .raizgral_timeline section:nth-child(3n+1) .timeline {
  background-color: #00435C; }
  .paleta--azul .raizgral_timeline section:nth-child(3n+1) .timeline__fecha h2 {
    background: #003041;
    color: white; }

.paleta--azul .raizgral_timeline section:nth-child(3n+2) .timeline {
  background-color: #003041; }
  .paleta--azul .raizgral_timeline section:nth-child(3n+2) .timeline__fecha h2 {
    background: #5D81A7;
    color: white; }

.paleta--azul .raizgral_timeline section:nth-child(3n+3) .timeline {
  background-color: #5D81A7; }
  .paleta--azul .raizgral_timeline section:nth-child(3n+3) .timeline__fecha h2 {
    background: #003041;
    color: white; }

.paleta--azul .raizgral_timeline section:last-of-type div {
  background-color: #366183;
  color: white; }
  .paleta--azul .raizgral_timeline section:last-of-type div__fecha h2 {
    background: #00435C;
    color: white; }

.paleta--azul .raizgral_factcheck .volanta, .paleta--azul .raizgral_factcheck_resuelto .volanta {
  color: white; }

.paleta--azul .formulario input[type=text]:focus, .paleta--azul .formulario textarea:focus, .paleta--azul .formulario input[type=email]:focus {
  outline: 1px solid #003041; }

.paleta--azul .formulario input[type=submit] {
  background: #003041; }

.tmp_paleta--verde {
  background: #2A7269; }

.tmp_paleta--lila {
  background: #AE4283; }

.tmp_paleta--naranja {
  background: #D67A00; }

.tmp_paleta--azul {
  background: #00435C; }

@keyframes audio {
  0% {
    height: 10px;
    opacity: 1; }
  50% {
    height: 50px;
    opacity: 0.4; }
  100% {
    height: 10px;
    opacity: 1; } }

@keyframes flecha {
  0% {
    transform: translateY(5px);
    opacity: 0.3; }
  50% {
    transform: translateY(0px);
    opacity: 1; }
  100% {
    transform: translateY(5px);
    opacity: 0.3; } }

@keyframes location {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(247, 166, 0, 0.15), 0px 0px 0px 0px rgba(247, 166, 0, 0.15), 0px 0px 0px 0px rgba(247, 166, 0, 0.15); }
  50% {
    box-shadow: 0px 0px 0px 0px rgba(247, 166, 0, 0.1), 0px 0px 0px 0px rgba(247, 166, 0, 0.05), 0px 0px 0px 0px rgba(247, 166, 0, 0.05); }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(247, 166, 0, 0.15), 0px 0px 0px 0px rgba(247, 166, 0, 0.15), 0px 0px 0px 0px rgba(247, 166, 0, 0.15); } }

@keyframes location-active {
  0% {
    box-shadow: 0px 0px 0px 74px rgba(247, 166, 0, 0.15), 0px 0px 0px 54px rgba(247, 166, 0, 0.15), 0px 0px 0px 24px rgba(247, 166, 0, 0.15); }
  50% {
    box-shadow: 0px 0px 0px 74px rgba(247, 166, 0, 0.1), 0px 0px 0px 54px rgba(247, 166, 0, 0.05), 0px 0px 0px 24px rgba(247, 166, 0, 0.05); }
  100% {
    box-shadow: 0px 0px 0px 74px rgba(247, 166, 0, 0.15), 0px 0px 0px 54px rgba(247, 166, 0, 0.15), 0px 0px 0px 24px rgba(247, 166, 0, 0.15); } }

@keyframes serie {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }

@keyframes scrollicon {
  0% {
    transform: translateY(10px) scale(1);
    opacity: 0.8; }
  50% {
    transform: translateY(0px) scale(1);
    opacity: 0.2; }
  100% {
    transform: translateY(10px) scale(1);
    opacity: 0.8; } }

@keyframes btn-animation {
  0% {
    transform: translateX(10px) scale(1);
    opacity: 0.8; }
  50% {
    transform: translateX(0px) scale(1);
    opacity: 0.2; }
  100% {
    transform: translateX(10px) scale(1);
    opacity: 0.8; } }

svg {
  stroke-width: 3px;
  stroke-dasharray: 2270;
  animation: 6s write infinite linear backwards; }

@keyframes write {
  0% {
    opacity: 1;
    stroke-dashoffset: 2270; }
  95% {
    opacity: 1;
    stroke-dashoffset: 0; }
  100% {
    opacity: 0; } }

.imagen--circular {
  border-radius: 50%;
  overflow: hidden; }

.imagen--grande {
  width: 150px;
  height: 150px; }

.imagen--mediana {
  width: 70px;
  height: 70px; }

.imagen--chico {
  width: 30px;
  height: 30px; }

.imagen--borde--blanco {
  border: 2px solid white; }

.imagen--borde--negro {
  border: 2px solid black; }

.imagen img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.posicion--ch {
  margin: 0 auto; }

.ml--7 {
  margin-left: 7px; }

.ml--15 {
  margin-left: 15px; }

.ml--30 {
  margin-left: 30px; }

.mr--7 {
  margin-right: 7px; }

.mr--15 {
  margin-right: 15px; }

.mr--30 {
  margin-right: 30px; }

.mb--7 {
  margin-bottom: 7px; }

.mb--15 {
  margin-bottom: 15px; }

.mb--30 {
  margin-bottom: 30px; }

.mt--7 {
  margin-top: 7px; }

.mt--15 {
  margin-top: 15px; }

.mt--30 {
  margin-top: 30px; }

body {
  color: #000A12;
  font-family: 'AlegreyaSans'; }

.playing .main-3__anim-item {
  background-color: white;
  animation-play-state: running; }

.playing .main-3__anim:after {
  opacity: 0; }

.portada .header__dots {
  display: none; }

.portada .main {
  height: 80vh; }
  .portada .main .volanta {
    display: none; }

.portada .main__scrbt {
  display: none; }

.portada .main__infoprinc {
  padding: 0px; }

.main {
  height: 98vh;
  width: 100%;
  color: white;
  position: relative; }
  .main__bgs, .main__contenidos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .main__fecha, .main__leng {
    min-width: 67px; }
  .main__contenidos {
    z-index: 2;
    padding-top: 53px;
    padding-bottom: 47px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .main__bgs img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover; }
  .main__bgs .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */ }
  .main__infoprinc {
    padding: 20px; }
  .main__scrbt {
    transition: all 0.3s; }
    .main__scrbt:active {
      transform: scale(0.8) translateY(10px); }
  .main__footer {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    left: 0;
    bottom: 0; }
    .main__footer-wrp {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
    .main__footer--white {
      color: white; }
    .main__footer--black {
      background-color: white;
      z-index: 10000; }
  .main__infocont {
    padding: 30px; }
  .main-1__infoprinc {
    padding: 20px; }
  .main-1__infocont {
    border: solid 1px white;
    background-size: cover;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/textura.png); }
  .main-3__player {
    padding: 20px; }
  .main-3__playcont {
    border: solid 1px white;
    padding: 30px;
    background-size: 24px; }
  .main-3__playbut {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%; }
  .main-3__button {
    width: 40px;
    height: 40px;
    border: solid 1px white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.3s; }
    .main-3__button:active {
      transform: scale(0.95); }
  .main-3__anim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    position: relative; }
    .main-3__anim:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: white;
      top: 50%;
      left: 0;
      display: block;
      transition: all 0.35s; }
    .main-3__anim-item {
      height: 2px;
      width: 2px;
      background: transparent;
      border-radius: 4px;
      animation-name: audio;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      opacity: 0;
      animation-play-state: paused; }
      .main-3__anim-item:nth-of-type(1) {
        animation-delay: 0.3s; }
      .main-3__anim-item:nth-of-type(2) {
        animation-delay: 0.2s; }
      .main-3__anim-item:nth-of-type(3) {
        animation-delay: 0s; }
      .main-3__anim-item:nth-of-type(4) {
        animation-delay: 0.2s; }
      .main-3__anim-item:nth-of-type(5) {
        animation-delay: 0.3s; }
      .main-3__anim-item:nth-of-type(6) {
        animation-delay: 0.2s; }
      .main-3__anim-item:nth-of-type(7) {
        animation-delay: 0s; }
      .main-3__anim-item:nth-of-type(8) {
        animation-delay: 0.2s; }
      .main-3__anim-item:nth-of-type(9) {
        animation-delay: 0.3s; }
      .main-3__anim-item:nth-of-type(10) {
        animation-delay: 0.2s; }
      .main-3__anim-item:nth-of-type(11) {
        animation-delay: 0s; }
      .main-3__anim-item:nth-of-type(12) {
        animation-delay: 0.2s; }
      .main-3__anim-item:nth-of-type(13) {
        animation-delay: 0.3s; }
      .main-3__anim-item:nth-of-type(14) {
        animation-delay: 0.2s; }
      .main-3__anim-item:nth-of-type(15) {
        animation-delay: 0s; }
  .main__videocont {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    display: none; }
    .main__videocont iframe {
      width: 100% !important;
      height: 100% !important; }
    .main__videocont-cerrar {
      position: absolute;
      top: -2px;
      right: -2px;
      z-index: 1001;
      color: white;
      padding: 10px;
      background: black;
      border: 1px solid white;
      border-radius: 3px;
      cursor: pointer; }
  .main--4 {
    color: black; }
    .main--4__volanta {
      position: relative;
      z-index: 1; }
      .main--4__volanta p {
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 0;
        background-color: white;
        border: 1px solid #979797;
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1); }
    .main--4 .hero--thin, .main--4 .hero {
      margin-top: 20px;
      margin-bottom: 20px; }
    .main--4__infoprinc {
      padding: 0 20px;
      z-index: 10;
      position: relative;
      top: -2px; }
    .main--4__infocont {
      background-color: white;
      border: 1px solid #979797;
      padding: 10px 20px 20px 20px;
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1); }
    .main--4__fig {
      width: 200px;
      height: auto;
      position: relative;
      overflow: hidden;
      /* border-radius: 50%; */
      display: block;
      margin: 0px auto;
      /* box-shadow: 2px 2px 0 0 rgba(0,0,0,0.10); */ }
      .main--4__fig img {
        object-fit: contain; }
  .main--5 {
    color: white; }
    .main--5 .main__contenidos {
      align-items: initial;
      padding-bottom: 10px; }
    .main--5__fig {
      width: 150px;
      height: 150px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      display: block;
      margin: 10px auto;
      border: solid 3px #F7A600; }
      .main--5__fig img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        object-fit: cover; }
    .main--5__lapso {
      margin-top: 20px; }
      .main--5__lapso h2 {
        background-color: #F7A600;
        display: inline-block;
        padding: 5px 20px; }
  .main__quote {
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 50px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/main-quote.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  .main__quotefig {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 10px auto 20px auto;
    border: solid 2px #F8E89A; }
    .main__quotefig img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover; }
  .main__event {
    padding: 40px 30px 60px 30px;
    border: solid 1px #F7A600;
    position: relative;
    margin-bottom: 60px; }
    .main__event-head {
      background-color: #F7A600;
      color: whtie;
      margin-top: 30px; }
      .main__event-head h2, .main__event-head h1 {
        margin-bottom: 0;
        padding: 15px 0; }
    .main__event .btn {
      position: absolute;
      bottom: -35px;
      left: 20%;
      width: 60%; }
  .main--8 .copete {
    margin-top: 20px; }
  .main__frame {
    padding: 15px;
    border: solid 1px white;
    margin-bottom: 30px; }
  .main--logeo input[type="email"], .main--logeo input[type="text"], .main--logeo input[type="password"], .main--logeo input[type="number"], .main--logeo input[type="number"], .main--registro input[type="email"], .main--registro input[type="text"], .main--registro input[type="password"], .main--registro input[type="number"], .main--registro input[type="number"] {
    padding: 10px;
    border: solid 1px white;
    background: none;
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.3s; }
    .main--logeo input[type="email"]:focus, .main--logeo input[type="text"]:focus, .main--logeo input[type="password"]:focus, .main--logeo input[type="number"]:focus, .main--logeo input[type="number"]:focus, .main--registro input[type="email"]:focus, .main--registro input[type="text"]:focus, .main--registro input[type="password"]:focus, .main--registro input[type="number"]:focus, .main--registro input[type="number"]:focus {
      border: solid 1px #F7A600; }
    .main--logeo input[type="email"]::placeholder, .main--logeo input[type="text"]::placeholder, .main--logeo input[type="password"]::placeholder, .main--logeo input[type="number"]::placeholder, .main--logeo input[type="number"]::placeholder, .main--registro input[type="email"]::placeholder, .main--registro input[type="text"]::placeholder, .main--registro input[type="password"]::placeholder, .main--registro input[type="number"]::placeholder, .main--registro input[type="number"]::placeholder {
      color: white; }
  .main--logeo input[type="submit"], .main--registro input[type="submit"] {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 30px; }
  .main--logeo .main__contenidos, .main--registro .main__contenidos {
    padding-top: 0; }
  .main--logeo .bloque-arriba, .main--registro .bloque-arriba {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #003041; }
  .main--registro {
    display: none; }
    .main--registro .bloque-arriba {
      background-color: #00435C; }
  .main-mapa {
    color: black;
    overflow: hidden;
    padding-top: 24px; }
    .main-mapa__desc {
      background-color: white;
      position: absolute;
      top: 42px;
      left: 0;
      z-index: 10000000;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%; }
      .main-mapa__desc p {
        max-height: 0;
        overflow: hidden;
        margin: 0; }
      .main-mapa__desc * {
        transition-property: all;
        transition-timing-function: ease;
        transition-duration: 0.3s; }
      .main-mapa__desc h1 {
        font-size: 20px;
        margin: 0; }
      .main-mapa__desc--toggled p {
        max-height: 100px; }
      .main-mapa__desc--toggled .main-mapa__button {
        transform: rotate(45deg); }
      .main-mapa__desc--toggled h1 {
        font-size: 25px; }
    .main-mapa__button {
      position: absolute;
      right: 5px;
      top: 5px;
      line-height: 1;
      font-size: 1.3em; }
    .main-mapa__item {
      height: 100vh;
      width: 100%; }
      .main-mapa__item--min {
        height: 30vh;
        width: 100%; }
  .main--15 {
    min-height: 70vh;
    height: auto; }
    .main--15 .btn {
      animation-name: btn-animation;
      animation-duration: 1.2s;
      animation-iteration-count: infinite; }
    .main--15__infocont {
      margin-top: 70px;
      background-color: #00435C;
      border: solid 1px white;
      padding-top: 0;
      padding-bottom: 10px; }
    .main--15 p {
      margin-bottom: 10px; }
    .main--15__figure {
      width: 170px;
      min-height: 130px;
      height: auto;
      position: relative;
      margin: -70px auto 20px auto; }
      .main--15__figure img {
        object-fit: contain; }
  .main--16 {
    height: 60vh; }
  .main--18 {
    height: 70vh; }
  .main--19 .main__bgs {
    background: no-repeat; }
  .main--19 .main__contenidos {
    padding-bottom: 0px; }
    .main--19 .main__contenidos .hero--big {
      text-transform: uppercase; }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none; }

.popup-fixed {
  position: relative;
  top: auto;
  z-index: 100000;
  bottom: 0px !important;
  left: 0 !important;
  right: 0 !important;
  transform: none !important;
  margin: 0;
  border-radius: 0; }
  .popup-fixed .leaflet-popup-tip-container {
    display: none; }
  .popup-fixed .leaflet-popup-content-wrapper {
    border-radius: 0; }

.leaflet-control-attribution.leaflet-control {
  display: none; }

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.4, 0.96, 0, 2.21);
  box-shadow: 0px 0px 0px 0px rgba(247, 166, 0, 0.15), 0px 0px 0px 0px rgba(247, 166, 0, 0.15), 0px 0px 0px 0px rgba(247, 166, 0, 0.15); }
  .leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive.marker-active {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 74px rgba(247, 166, 0, 0.15), 0px 0px 0px 54px rgba(247, 166, 0, 0.15), 0px 0px 0px 24px rgba(247, 166, 0, 0.15); }

.leaflet-pane.leaflet-fixed-pane {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 100%; }

.leaflet-popup-content {
  width: 100% !important;
  left: 0 !important;
  margin: 0;
  padding: 15px;
  text-align: center; }

.mappop footer.main__footer.main__footer--black {
  z-index: 0 !important; }

.timeline {
  padding: 30px;
  background-color: #AE4283;
  overflow: hidden;
  color: white; }
  .timeline__line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center; }
    .timeline__line span {
      height: 30px;
      width: 0px;
      background-color: #F7A600;
      display: inline-block; }
    .timeline__line:last-of-type {
      top: auto;
      bottom: -2px; }
  .timeline__fecha {
    width: 100%;
    position: relative; }
    .timeline__fecha h2 {
      display: inline-block;
      padding: 10px 20px 5px;
      background-color: #F7A600;
      margin-bottom: 0;
      background: white; }
  .timeline__dotfinal {
    width: 100%;
    text-align: center;
    margin-bottom: 40px; }
    .timeline__dotfinal-elem {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative; }
      .timeline__dotfinal-elem:after, .timeline__dotfinal-elem:before {
        display: inline-block;
        border-radius: 50%;
        content: "";
        position: absolute;
        left: 0;
        top: 0; }
      .timeline__dotfinal-elem:before {
        background-color: #F7A600;
        width: 30px;
        height: 30px; }
      .timeline__dotfinal-elem:after {
        background-color: rgba(255, 255, 255, 0.7);
        width: 20px;
        height: 20px;
        top: 5px;
        left: 5px; }
  .timeline .main--5__fig {
    margin-top: 20px;
    margin-bottom: 20px; }
  .timeline__vid {
    margin-top: 20px;
    margin-bottom: 20px; }
  .timeline__img {
    margin-bottom: 5px; }

.miniplayer .reproductor {
  max-height: 100px;
  border-top: solid 2px #D67A00;
  background-color: #00435C; }

.reproductor {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  border-top: solid 2px transparent;
  z-index: 10000;
  overflow: hidden;
  max-height: 0;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.3s; }
  .reproductor audio {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0; }
  .reproductor__wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    min-height: 70px; }
  .reproductor__fig img {
    width: 60px; }
  .reproductor__info {
    padding: 0 10px;
    flex-grow: 1; }
  .reproductor__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.2); }
  .reproductor__cerrar {
    margin-left: 15px; }
    .reproductor__cerrar img {
      width: 17px; }

.foto blockquote {
  padding: 8px;
  padding-bottom: 32px;
  line-height: 1.3em; }

.foto--epigrafe .epigrafe {
  padding-top: 10px;
  padding-bottom: 15px; }

.listacat {
  align-items: center;
  color: white; }
  .listacat h2 {
    color: white; }
  .listacat__title {
    background-color: #FDC75F;
    padding: 6px 30px;
    text-transform: lowercase; }
  .listacat__lista li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px; }
    .listacat__lista li:nth-of-type(1) {
      background-color: #F7A600; }
    .listacat__lista li:nth-of-type(2) {
      background-color: #D67A00; }
    .listacat__lista li:nth-of-type(3) {
      background-color: #B23F06; }
    .listacat__lista li:nth-of-type(4) {
      background-color: #943201; }
    .listacat__lista li:nth-of-type(5) {
      background-color: #842c01; }
    .listacat__lista li:nth-of-type(6) {
      background-color: #6d2603; }
  .listacat__wrp {
    display: flex; }
  .listacat__play {
    margin-right: 15px;
    align-self: top; }
  .listacat--2 .listacat__figure {
    border-radius: 50%;
    border: solid 2px white;
    overflow: hidden;
    object-fit: cover; }
  .listacat__figure {
    width: 70px;
    height: 70px;
    position: relative;
    flex-shrink: 0; }
    .listacat__figure img {
      object-fit: contain;
      /*@include object-fit();*/ }
  .listacat__desc {
    padding: 0 20px;
    align-self: center; }
    .listacat__desc .small {
      margin-bottom: 7px; }
  .listacat--3 .listacat__figure {
    align-self: top; }
  .listacat--3 .listacat__lista li {
    padding-right: 7px;
    padding-left: 7px; }

.faq {
  /* padding: 30px; */
  padding: 18px; }
  .faq__desc {
    max-height: 0px;
    overflow: hidden;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    line-height: 1.3; }
  .faq__title {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px; }
  .faq li {
    border-bottom: solid 1px black; }
    .faq li:last-of-type {
      border-bottom: none; }
  .faq .paragraph {
    font-family: 'AlegreyaSans';
    font-weight: normal;
    line-height: 1.4em;
    font-size: 18px !important; }
    .faq .paragraph p + p {
      margin-top: 15px; }
  .faq .icon--chevleft {
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.6s; }
  .faq .toggled .faq__desc {
    max-height: 3000px;
    padding: 15px 0 30px 0; }
  .faq .toggled .icon--chevleft {
    transform: rotate(90deg); }

.factcheck {
  background-color: #ECEBE0;
  margin-bottom: 30px; }
  .factcheck__info {
    padding: 30px; }
    .factcheck__info p {
      margin-bottom: 5px; }
      .factcheck__info p:first-of-type a {
        font-weight: bolder; }
      .factcheck__info p a:hover {
        color: #e62e2e; }
      .factcheck__info p a {
        text-decoration: underline; }
  .factcheck blockquote {
    margin-bottom: 40px; }
  .factcheck .btn {
    cursor: pointer;
    margin-bottom: -50px;
    width: 160px;
    min-width: 160px; }

.raizgral_factcheck .listacat--2 .listacat__figure img, .raizgral_factcheck_resuelto .listacat--2 .listacat__figure img {
  object-fit: cover; }

.raizgral_factcheck .listacat__figure img, .raizgral_factcheck_resuelto .listacat__figure img {
  object-fit: contain; }

.raizgral_fotoreportaje .main__frame img + img {
  display: none; }

.cta {
  color: white;
  background-color: #B23F06; }
  .cta .btn {
    text-transform: lowercase;
    transition: 1s ease all; }
    .cta .btn:hover {
      opacity: 0.9; }
  .cta__info {
    padding: 30px; }

.slider {
  padding-top: 20px;
  padding-bottom: 20px; }

.raizgral_sticker_btn.page .main__footer {
  display: none; }

.raizgral_timeline .main__bgs {
  z-index: 0; }

.raizgral_timeline .seccion {
  margin-bottom: -1px; }

.raizgral_timeline iframe {
  width: 100%;
  height: auto; }

.raizgral_timeline .main--5__fig {
  border-radius: 0px; }

.raizgral_reporte .main__infocont {
  padding: 0px; }

.raizgral_imagen .main__frame {
  border: 0px;
  padding: 0px; }

.page .volanta {
  display: none; }

.page .fulllistacabeceras .main__contenidos {
  padding-top: 53px;
  padding-bottom: 47px; }

.page .fulllistacabeceras .main__infocont {
  padding: 30px; }

.page .fulllistacabeceras .volanta {
  display: block; }

.page .fulllistacabeceras .main--4__fig {
  width: 130px; }

.page .fulllistacabeceras .main--4__infoprinc .btn--border {
  padding: 6px; }

.page .fulllistacabeceras .main--4__infoprinc .hero--thin {
  font-size: 30px; }

.page .fulllistacabeceras .main--4__infoprinc .small {
  display: none; }

.main__bgs {
  background-size: 24px; }

.raizgral_timeline h1 a {
  text-decoration: none; }

.raizgral_timeline .main--5__fig {
  border: 0px; }
  .raizgral_timeline .main--5__fig img {
    object-fit: inherit; }

.raizgral_reporte.page .main__contenidos {
  padding-top: 53px;
  padding-bottom: 47px; }
