/*
============================================
============================================
 _____ __       _____ _____ _____ _____ _ 
|   __|  |     |   __|  |  | __  |_   _|_|
|   __|  |__   |__   |  |  |    -| | | | |
|_____|_____|  |_____|_____|__|__| |_| |_|
                                          
* date: 3/04/2018
* Author: Cerocin.co
* @whhhaaaaaaat

============================================
============================================

HERRAMIENTAS:
- SCSS (CHEQUEAR VARIABLES Y MODULES, USEN EL ARCHIVO SCSS POR EL AMOR DE DIOS)
- BOOTSTRAP(SOLO GRID)
- SLICK (TODOS LOS SLIDERS Y CAROUSELS)
- BEM (LO MAS ESTRICTO QUE SE PUEDE SER EN LA VIDA, SIN ALOCARSE)

--------------------------------------------
--------------------------------------------
- Modificado el 01 septiembre 2018 - Vivi E.
- Modificado el 12 septiembre 2018 - Vivi E.
- Modificado el 20 octubre 2018 - Vivi E.

--------------------------------------------
--------------------------------------------

TABLA DE CONTENIDOS: 
0- IMPORTS
1- GLOBALES

--------------------------------------------
--------------------------------------------
*/
/*
============================================
0- IMPORTS
============================================
*/
@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansRegular.eot");
  src: url("../../fonts/AlegreyaSansRegular.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansRegular.woff2") format("woff2"), url("../../fonts/AlegreyaSansRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansItalic.eot");
  src: url("../../fonts/AlegreyaSansItalic.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansItalic.woff2") format("woff2"), url("../../fonts/AlegreyaSansItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansMedium.eot");
  src: url("../../fonts/AlegreyaSansMedium.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansMedium.woff2") format("woff2"), url("../../fonts/AlegreyaSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansBoldItalic.eot");
  src: url("../../fonts/AlegreyaSansBoldItalic.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansBoldItalic.woff2") format("woff2"), url("https://elsurti.com/wp-content/themes/elsurti/fonts/AlegreyaSansBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AlegreyaSans';
  src: url("../../fonts/AlegreyaSansBold.eot");
  src: url("../../fonts/AlegreyaSansBold.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansBold.woff2") format("woff2"), url("../../fonts/AlegreyaSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'Alegreya';
  src: url("../../fonts/AlegreyaRegular.eot");
  src: url("../../fonts/AlegreyaRegular.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaRegular.woff2") format("woff2"), url("../../fonts/AlegreyaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

/*ALEGREYA SC*/
@font-face {
  font-family: 'AlegreyaSC';
  src: url("../../fonts/AlegreyaSC-Regular.eot");
  src: url("../../fonts/AlegreyaSC-Regular.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSC-Regular.woff2") format("woff2"), url("../../fonts/AlegreyaSC-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

/*ALEGREYA SANS SC*/
@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("../../fonts/AlegreyaSansSC-Regular.eot");
  src: url("../../fonts/AlegreyaSansSC-Regular.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansSC-Regular.woff2") format("woff2"), url("../../fonts/AlegreyaSansSC-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("../../fonts/AlegreyaSansSC-Medium.eot");
  src: url("../../fonts/AlegreyaSansSC-Medium.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansSC-Medium.woff2") format("woff2"), url("../../fonts/AlegreyaSansSC-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("../../fonts/AlegreyaSansSC-Bold.eot");
  src: url("../../fonts/AlegreyaSansSC-Bold.eot@") format("embedded-opentype"), url("../../fonts/AlegreyaSansSC-Bold.woff2") format("woff2"), url("../../fonts/AlegreyaSansSC-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

/*PILOT*/
@font-face {
  font-family: 'Pilot';
  src: url("../../fonts/PilotRegular.eot");
  src: url("../../fonts/PilotRegular.eot@") format("embedded-opentype"), url("../../fonts/PilotRegular.woff2") format("woff2"), url("../../fonts/PilotRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

@font-face {
  font-family: 'Pilot';
  src: url("../../fonts/PilotBold.eot");
  src: url("../../fonts/PilotBold.eot@") format("embedded-opentype"), url("../../fonts/PilotBold.woff2") format("woff2"), url("../../fonts/PilotBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

@font-face {
  font-family: 'Pilot';
  src: url("../../fonts/PilotBlack.eot");
  src: url("../../fonts/PilotBlack.eot@") format("embedded-opentype"), url("../../fonts/PilotBlack.woff2") format("woff2"), url("../../fonts/PilotBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  overflow-x: hidden; }

strong {
  font-weight: bold; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.npd {
  padding: 0; }

.clear {
  clear: both; }

img {
  max-width: 100%; }

a, a:hover, a:focus, a:active, input:focus, textarea:focus, button:focus {
  text-decoration: none;
  outline: none;
  color: inherit; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

.seccion {
  display: block;
  position: relative;
  line-height: 0;
  overflow: hidden; }
  .seccion > * {
    line-height: 1; }

button {
  background: none; }

hr {
  border: none;
  background: none;
  height: 1px;
  background-color: #9B9B9B;
  margin: 10px -20px;
  position: relative; }

.bloque,
.bloque-arriba,
.bloque-abajo,
.bloque-medio {
  width: 100%; }

.bloque-resto {
  width: 100%;
  flex-grow: 1; }

.bloque-arriba {
  align-self: flex-start; }

.bloque-medio {
  align-self: center; }

.bloque-abajo {
  align-self: flex-end; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

h1, h3, .hero, .hero--thin, .hero--big {
  font-family: 'Pilot'; }

em {
  font-style: italic; }

button {
  cursor: pointer; }

.volanta, .copete, .paragraph--1, .epigrafe, h2, blockquote, .blockquote, .blockquote--big, .small {
  font-family: 'AlegreyaSans'; }

.copete, .epigrafe, blockquote, .blockquote, .blockquote--big {
  font-style: italic; }

.hero--thin {
  font-weight: normal; }

.hero--big {
  font-size: 70px;
  font-weight: 900; }

.copete, h1, h2, h3, .hero {
  font-weight: bold; }

.hero, .hero--thin, .blockquote--big {
  font-size: 30px; }

.copete, .paragraph {
  font-size: 21px;
  line-height: 1em; }
  .copete a, .paragraph a {
    color: inherit;
    text-decoration: underline; }

.epigrafe, .footnote, .small {
  font-size: 17px; }

.epigrafe a {
  text-decoration: underline; }

.volanta {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: 'AlegreyaSansSC';
  text-transform: lowercase; }

.paragraph {
  font-family: 'Alegreya';
  font-weight: normal; }
  .paragraph--1 {
    font-size: 21px;
    font-weight: normal;
    line-height: 1em; }
    .paragraph--1 a {
      color: inherit;
      text-decoration: underline; }
  .paragraph--2 {
    font-family: 'AlegreyaSans';
    font-size: 21px; }

h1, h2, h3 {
  margin-bottom: 15px; }

h1 {
  font-size: 34px;
  line-height: 1em; }

h2 {
  font-family: 'AlegreyaSansSC';
  text-transform: uppercase;
  font-size: 25px; }

h3 {
  font-size: 32px; }

blockquote, .blockquote {
  font-size: 21px; }

strong {
  font-weight: 700; }

img.wp-smiley, img.emoji {
  vertical-align: middle !important;
  display: inline-block !important;
  margin-top: 3px !important; }

.footnote {
  /* font-weight: 400; */
  font-family: 'AlegreyaSansSC';
  text-transform: lowercase; }

.small {
  font-family: 'AlegreyaSansSC';
  font-weight: normal;
  text-transform: lowercase; }
  .small + p {
    padding-top: 15px; }

.factcheck blockquote {
  font-size: 30px;
  line-height: 1.2em; }

.seccion--texto + .seccion--texto .texto {
  padding-top: 0; }

.texto {
  padding: 30px 20px; }
  .texto p {
    line-height: 1.45; }
  .texto h1, .texto h2, .texto h3 {
    line-height: 1.3; }
  .texto a {
    color: #D67A00; }
  .texto a:hover {
    color: #F7A600; }
  .texto .paragraph--fistletter::first-letter {
    font-size: 5em;
    line-height: 0.7;
    vertical-align: top;
    margin-right: 5px;
    float: left; }
  .texto--bbpd {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/opico.svg);
    background-position: bottom 31px center;
    padding-bottom: 80px;
    background-size: 26px; }

.enfasis {
  padding: 30px;
  color: white;
  margin-bottom: 30px;
  background-size: 24px; }
  .enfasis .blockquote, .enfasis blockquote {
    line-height: 1.35; }

.patron {
  background-repeat: repeat;
  background-position: center; }
  .patron--1 {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/patrones/1.png); }

.row.flex--wrap:after, .row.flex--wrap:before {
  display: none; }

.flex {
  display: flex; }
  .flex--wrap {
    flex-wrap: wrap; }
  .flex--centermid {
    justify-content: center;
    align-items: center; }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: inline-block;
  vertical-align: middle; }
  .icon--scrolldown, .icon--scrolldown--white {
    width: 25px;
    height: 25px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-scrolldown.svg); }
  .icon--scrolldown--white {
    background-image: url(../../img/icon-scrolldownw.svg);
    animation: flecha;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    transform: translateY(5px); }
  .icon--play {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-play.svg);
    width: 17px;
    height: 17px;
    margin: 0 auto; }
  .icon--marker {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-marker.svg);
    width: 24px;
    height: 24px;
    margin-bottom: 10px; }
  .icon--mapinfo {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-mapinfo.png);
    width: 25px;
    height: 25px;
    margin-right: 10px; }
  .icon--chevleft {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-chevleft.svg);
    width: 10px;
    height: 10px;
    margin-right: 5px; }

.playing .icon--play {
  background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-pause.svg); }

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-family: 'AlegreyaSansSC';
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase; }
  .btn--border {
    display: block;
    margin: 15px auto;
    border: solid 1px black;
    border-radius: 40px;
    padding: 10px;
    min-width: 65%; }
    .btn--border-white {
      display: inline-block;
      margin: 15px 0;
      border-radius: 40px;
      padding: 10px 60px;
      border: solid 1px white;
      color: white; }
  .btn--background {
    display: block;
    margin: 15px auto;
    border: solid 1px black;
    border-radius: 40px;
    padding: 10px;
    min-width: 65%; }
    .btn--background-white {
      display: inline-block;
      margin: 15px 0;
      border-radius: 40px;
      padding: 10px 60px;
      background: white;
      color: black; }
      .btn--background-white:hover {
        background: black;
        color: white;
        transition: ease 0.5s all; }
  .btn--naranja {
    background-color: #F7A600;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--rojo {
    background-color: #d0021b;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--bolaterapia {
    background-color: #e62e2e;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--cierto {
    background-color: #51b848;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--humo {
    background-color: #f7931e;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--discutible {
    background-color: #b4bd4b;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }
  .btn--impreciso {
    background-color: #a17b62;
    color: white;
    display: block;
    margin: 15px auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 50%; }

.linea {
  width: 2px;
  height: 100%;
  min-height: 10px;
  margin: 0 auto;
  display: block;
  background-color: white; }

.scroll-line {
  /* background-image: url(../../img/scroll-line.svg);
	background-repeat: repeat-y;
	background-position: center; */
  display: block;
  width: 100%;
  height: 76%;
  background-size: 26px auto; }

.patron {
  background-repeat: repeat !important;
  background-position: center !important;
  background-size: 24px !important; }
  .patron--1 {
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/patron-1.png) !important; }

.white {
  color: white; }

.black {
  color: black; }

.mainscroll {
  /* 	&__copete{
		font-family: 'AlegreyaSans';
		font-size:32px;
		font-style:italic;
		font-weight:700;
		line-height: 1em
	} */ }
  .mainscroll .volanta {
    color: white;
    margin-bottom: 15px; }
  .mainscroll .hero--big {
    text-transform: uppercase; }
  .mainscroll__fecha {
    font-family: 'AlegreyaSansSC'; }

.block {
  padding-top: 50px;
  padding-bottom: 50px; }

.iconscroll {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .iconscroll--scroll {
    width: 33px;
    height: 18px;
    background-size: auto 100%;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-chevscroll.svg); }
  .iconscroll--flechader {
    width: 30px;
    height: 30px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-flechader.svg); }
  .iconscroll--flechaiz {
    width: 30px;
    height: 30px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/icon-flechaiz.svg); }

.btnscroll {
  display: inline-block; }
  .btnscroll--serie {
    margin-top: 10px;
    background-image: url(https://elsurti.com/wp-content/themes/elsurti/img/boton-serie.svg);
    background-size: 100% 100%;
    padding-right: 20%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.4em;
    font-weight: 500;
    animation-name: serie;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #FFF100; }

.respuestas:hover {
  background: black;
  color: white;
  border: 1px solid black;
  cursor: pointer; }

.respuestas:disabled, .respuestas[disabled] {
  background: white;
  color: #cccccc;
  border: 1px solid #cccccc;
  cursor: auto; }

/*
============================================
1- GLOBALES
============================================
*/
/* body{
	color: $main-color-scroll;
	font-family: 'Saira', sans-serif;
	font-weight: 500;
	line-height: 1;
	font-size: 14px;
}
h1{
	font-family:'PilotBlack', sans-serif, Arial;
	font-size: 2.6em;
}
h2{
	font-size: 1.3em;
} */
::selection {
  background: #112546; }

.st0 {
  fill: none;
  stroke: #E3E15C;
  stroke-width: 11;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.st1 {
  fill: #112546; }

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000000;
  left: 0;
  top: 0;
  background-color: #112546;
  display: flex;
  align-items: center;
  justify-content: center; }
  .preloader__wrp:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to right, rgba(17, 37, 70, 0) 0%, #112546 50%, rgba(17, 37, 70, 0) 100%);
    background: #112546;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: corte;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: translateX(-100%); }
  .preloader__wrp {
    position: relative; }
  .preloader svg {
    width: 300px; }

/*
============================================
2- MAIN BANNER
============================================
*/
.mainscroll {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  /* min-height: 100vh; */
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  overflow: hidden;
  margin-bottom: -1px;
  /* &__fecha{
		position: absolute;
		top: 50px;
		left: 10px;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	} */ }
  .mainscroll__figure {
    overflow: hidden; }
    .mainscroll__figure img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover; }
  .mainscroll__article {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 53px 30px 60px 30px;
    display: flex;
    flex-wrap: wrap; }
  .mainscroll__texto {
    width: 100%; }
    .mainscroll__texto--abajo {
      align-self: flex-end;
      color: white; }
    .mainscroll__texto--medio {
      align-self: center; }
    .mainscroll__texto--arriba {
      align-self: flex-start; }
  .mainscroll .icon--scroll {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    animation-name: scrollicon;
    animation-duration: 1.2s;
    animation-iteration-count: infinite; }
  .mainscroll .btn {
    animation-name: btn-animation;
    animation-duration: 1.2s;
    animation-iteration-count: infinite; }

/*
============================================
4- BLOQUES
============================================
*/
.bloquescroll {
  position: relative;
  overflow: hidden; }
  .bloquescroll__imagenes {
    position: relative; }
  .bloquescroll__figure {
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0; }
    .bloquescroll__figure:first-of-type {
      position: relative; }
  .bloquescroll__textos {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
  .bloquescroll__texto {
    width: 100%;
    line-height: 1.15; }
    .bloquescroll__texto--arriba {
      align-self: flex-start; }
    .bloquescroll__texto--medio {
      align-self: center; }
    .bloquescroll__texto--abajo {
      align-self: flex-end; }
  .bloquescroll__wrp > div:first-of-type {
    position: relative; }

/*
============================================
5- BLOQUE FUENTE
============================================
*/
.fuente__scroll {
  text-align: center;
  padding: 20px 10px;
  font-weight: 600;
  font-size: 0.85em; }

/*
============================================
6- SERIES
============================================
*/
.serie__scroll {
  position: relative;
  height: 90vh; }
  .serie__scroll__textos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    color: white;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 3px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .serie__scroll__texto {
    width: 100%;
    z-index: 2;
    padding-bottom: 50px; }
  .serie__scroll__figure {
    width: 100%;
    height: 100%;
    line-height: 0;
    position: relative; }
    .serie__scroll__figure img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover; }

/*
============================================
7- QUIENES
============================================
*/
.quienes__scroll {
  color: white; }
  .quienes__scroll__wrp {
    padding: 60px 30px;
    min-height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column; }
  .quienes__scroll .footer__social li {
    width: 80px;
    margin: 20px; }
  .quienes__scroll__staff {
    margin-bottom: 60px; }
    .quienes__scroll__staff h5 {
      font-size: 1.8em;
      margin-top: 10px; }
  .quienes__scroll h2, .quienes__scroll h3 {
    font-family: 'PilotBlack', sans-serif;
    font-size: 2.5em; }
  .quienes__scroll h4 {
    font-size: 2.1em;
    font-weight: 500; }
  .quienes__scroll h2 {
    font-size: 4.8em;
    word-break: break-all; }
  .quienes__scroll h3 {
    margin-bottom: 50px; }
  .quienes__scroll:nth-of-type(1) {
    background-color: #002743; }
    .quienes__scroll:nth-of-type(1) .quienes__wrp {
      justify-content: center;
      min-height: 90vh; }
  .quienes__scroll:nth-of-type(2) {
    background-color: #C9639D; }
  .quienes__scroll:nth-of-type(3) {
    background-color: #9CC7C6; }
  .quienes__scroll:nth-of-type(4) {
    background-color: #E4E25C; }
  .quienes__scroll:nth-of-type(5) {
    background-color: #002743; }
  .quienes__scroll:nth-of-type(6) {
    background-color: #2498b1; }
  .quienes__scroll:nth-of-type(6) {
    background-color: #2498b1; }
  .quienes__scroll:nth-of-type(7) {
    background-color: #60a7be; }

/*
============================================
8- FOOTER
============================================
*/
.footer__scroll {
  background-color: #065674;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Bungee', sans-serif; }
  .footer__scroll span {
    color: #FFF100; }
  .footer__scroll__social {
    padding: 10px 0; }
    .footer__scroll__social li {
      display: inline-block;
      width: 40px;
      margin: 0 5px; }
    .footer__scroll__social img {
      filter: brightness(500%); }
      .footer__scroll__social img:hover {
        filter: brightness(100%); }
