@media (min-width: 300px) {
  .hero--big {
    font-size: 52px; }
  .header__menu ul.social li {
    margin: 4px 8px; }
  .main__bgs img {
    display: none; }
  .main__bgs img:last-of-type {
    display: block; }
  .page .main__contenidos {
    padding-top: 0px;
    padding-bottom: 0px; }
  .page .main__infoprinc, .page .main__infocont {
    padding-bottom: 0px; }
  .page .main.main--19 .main__bgs:nth-of-type(2) {
    display: none; }
  .page .main.main--19 .main__bgs:first-of-type, .page .main.main--19 .main__bgs:last-of-type {
    display: block; }
  .hero--big {
    font-size: 35px; }
  .portada .main__infoprinc {
    padding: 20px; }
  .raizgral_reporte .main__contenidos {
    text-align: center; }
    .raizgral_reporte .main__contenidos .bloque img:first-of-type {
      display: none;
      margin: 0 auto; }
    .raizgral_reporte .main__contenidos .bloque img:last-of-type {
      display: block; }
    .raizgral_reporte .main__contenidos h1 {
      max-width: 85%;
      margin: 0 auto; }
  .main--15__infocont {
    margin-top: 40px; }
  .main--15__figure {
    margin: -40px auto 20px auto; }
  .raizgral_factcheck .main--4__fig, .raizgral_factcheck_resuelto .main--4__fig {
    width: 100px; }
  .raizgral_factcheck .main .btn, .raizgral_factcheck_resuelto .main .btn {
    margin: 5px auto; }
  .raizgral_factcheck .main .btn:last-of-type, .raizgral_factcheck_resuelto .main .btn:last-of-type {
    margin: 5px auto 20px auto; }
  .raizgral_factcheck .hero--thin, .raizgral_factcheck_resuelto .hero--thin {
    margin-bottom: 10px;
    margin-top: 10px; }
  .raizgral_imagen .main__frame img:first-of-type {
    display: none; }
  .raizgral_imagen .main__frame img:last-of-type {
    display: block; }
  .footer__escuchanosen ul {
    flex-flow: column; } }

/*

######  ## ### ######
##   # ##   ## ##   #
   ##  ##         ##
  ##   ## ###    ##
  ##   ##   ##   ##
  ##   ##   ##   ##
  ##    ## ##    ##


 */
@media (min-width: 767px) {
  .portada .main__infoprinc {
    padding: 20px; }
  .page .hero--big {
    font-size: 45px; }
  .page .main.main--19 .main__bgs:nth-of-type(2) {
    display: none; }
  .page .main.main--19 .main__bgs:first-of-type, .page .main.main--19 .main__bgs:last-of-type {
    display: block;
    background-size: contain; }
  .page .main--4__fig {
    width: 100px; }
  .main__bgs img {
    display: none; }
  .main__bgs img:first-of-type {
    display: block; }
  .paragraph {
    font-size: 21px; }
  .faq__desc .paragraph {
    font-family: 'AlegreyaSans';
    font-weight: normal;
    line-height: 1.4em;
    font-size: 18px !important; }
  .seccion {
    width: 100%; }
    .seccion > * {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; }
    .seccion .listacat {
      max-width: 100%; }
      .seccion .listacat__wrp {
        max-width: 500px;
        margin: 0 auto; }
    .seccion .cta {
      max-width: 100%; }
      .seccion .cta__info {
        padding: 50px; }
    .seccion .foto--epigrafe .epigrafe {
      max-width: 500px;
      margin: 0 auto; }
    .seccion .header {
      max-width: 100%; }
      .seccion .header__wrp {
        max-width: 500px;
        margin: 15px auto; }
    .seccion .main {
      max-width: 100%;
      display: flex;
      justify-content: center; }
      .seccion .main__contenidos {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: auto;
        top: auto; }
      .seccion .main__footer {
        max-width: 100%;
        display: flex;
        justify-content: center; }
        .seccion .main__footer-wrp {
          max-width: 500px; }
  .raizgral_reporte .main__contenidos .bloque:first-of-type {
    width: 100%;
    margin: 0 auto; }
  .raizgral_reporte .main__contenidos .bloque:last-of-type {
    width: 100%;
    padding-bottom: 50px;
    margin: 0 auto; }
  .raizgral_reporte .main__contenidos__infocon {
    padding-bottom: 50px; }
  .raizgral_factcheck .main--4__fig, .raizgral_factcheck_resuelto .main--4__fig {
    width: 100px; }
  .raizgral_factcheck .main .btn, .raizgral_factcheck_resuelto .main .btn {
    margin: 5px auto; }
  .raizgral_factcheck .hero--thin, .raizgral_factcheck_resuelto .hero--thin {
    margin-bottom: 10px;
    margin-top: 10px; }
  /*.footer{
		&__escuchanosen {
			ul{
				flex-flow: column;
			}
		}
	}*/ }

/*
 #####   #####     #
#     # #     #   ##
#     # #     #  # #
 ######  ######    #
      #       #    #
#     # #     #    #
 #####   #####   #####

*/
@media (min-width: 991px) {
  .main__infoprinc {
    padding: 0px; }
  .raizgral_fotoreportaje .main__frame {
    width: 69%;
    margin-left: auto;
    margin-right: auto; }
  .page .hero--big {
    font-size: 64px; }
  .page .main.main--19 .main__bgs:first-of-type, .page .main.main--19 .main__bgs:nth-of-type(2) {
    display: block; }
  .page .main.main--19 .main__bgs:nth-of-type(3) {
    display: none; }
  .main__bgs img {
    display: block; }
  .main__bgs img:last-of-type {
    display: none; }
  .header__dots {
    display: none; }
  .seccion {
    width: 100%; }
    .seccion > * {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
    .seccion .listacat {
      max-width: 100%; }
      .seccion .listacat__wrp {
        max-width: 770px;
        margin: 0 auto; }
    .seccion .cta {
      max-width: 100%; }
      .seccion .cta button {
        min-width: 300px;
        max-width: 600px; }
      .seccion .cta__info {
        padding: 80px 0;
        max-width: 770px;
        margin: 0 auto; }
    .seccion .timeline {
      max-width: 100%; }
      .seccion .timeline__img {
        max-width: 550px;
        margin: 0 auto;
        margin-top: 30px; }
      .seccion .timeline h1 a {
        text-decoration: none; }
      .seccion .timeline .paragraph--1 {
        max-width: 70%;
        margin: 0 auto; }
    .seccion figure.foto {
      max-width: 85%;
      margin-left: auto;
      margin-right: auto; }
    .seccion .foto img {
      max-width: 100%;
      width: 100%; }
    .seccion .foto--epigrafe .epigrafe {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
    .seccion .header {
      max-width: 100%; }
      .seccion .header__wrp {
        max-width: 95%;
        margin: 15px auto; }
    .seccion .main {
      max-width: 100%;
      display: flex;
      justify-content: center; }
      .seccion .main__contenidos {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: auto;
        top: auto; }
      .seccion .main__footer {
        max-width: 100%;
        display: flex;
        justify-content: center; }
        .seccion .main__footer-wrp {
          max-width: 500px; }
      .seccion .main-mapa .main__contenidos {
        max-width: 100%; }
  .raizgral_reporte .main__contenidos {
    text-align: center; }
    .raizgral_reporte .main__contenidos .bloque img:first-of-type {
      display: block;
      margin: 0 auto; }
    .raizgral_reporte .main__contenidos .bloque img:last-of-type {
      display: none; }
    .raizgral_reporte .main__contenidos .bloque:first-of-type {
      width: 85%;
      margin: 0 auto; }
    .raizgral_reporte .main__contenidos .bloque:last-of-type {
      width: 85%;
      padding-bottom: 50px;
      margin: 0 auto; }
  .raizgral_timeline .seccion--texto .texto {
    max-width: 100%; }
  .raizgral_factcheck .main--4__fig, .raizgral_factcheck_resuelto .main--4__fig {
    width: 200px; }
  .raizgral_factcheck .main .btn, .raizgral_factcheck_resuelto .main .btn {
    margin: 15px auto; }
  .raizgral_factcheck .hero--thin, .raizgral_factcheck_resuelto .hero--thin {
    margin-bottom: 20px;
    margin-top: 20px; }
  .fulllistacabeceras .raizgral_factcheck_resuelto .hero--thin {
    font-size: 30px; }
  .fulllistacabeceras .raizgral_factcheck_resuelto .main--4 {
    height: auto;
    padding: 60px 0; }
  .raizgral_imagen .main__frame img:first-of-type {
    display: block; }
  .raizgral_imagen .main__frame img:last-of-type {
    display: none; }
  .main--15__figure {
    margin: -70px auto 20px auto; }
  .main--15__infocont {
    margin-top: 70px; }
  h1 {
    font-size: 64px; }
  .copete {
    font-size: 32px; }
  .hero--big {
    font-size: 69px; }
  main.main.main-mapa {
    max-height: 90vh; } }
