@media (min-width: 300px) {
  .mainscroll .hero--big {
    font-size: 35px; }
  .mainscroll__figure, .mainscroll__figure:first-of-type {
    display: none; }
  .mainscroll__figure:last-of-type {
    display: block; } }

@media (min-width: 768px) {
  .mainscroll .hero--big {
    font-size: 45px; }
  .mainscroll__figure, .mainscroll__figure:first-of-type {
    display: none; }
  .mainscroll__figure:last-of-type {
    display: block; }
  .bloquescroll__texto .paragraph, .bloquescroll__texto .paragraph--2 {
    font-size: 32px; } }

@media (min-width: 992px) {
  .mainscroll .hero--big {
    font-size: 64px; }
  .mainscroll__figure {
    display: block; }
  .mainscroll__figure:first-of-type img {
    object-fit: contain; }
  .mainscroll__figure:first-of-type {
    display: block; }
  .mainscroll__figure:last-of-type {
    display: none; }
  .headerscroll {
    width: auto;
    height: 100vh;
    right: 0;
    left: auto;
    padding: 0 30px;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8%; }
    .headerscroll__nextprev, .headerscroll__navbuttton {
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
      margin-bottom: 10px; }
      .headerscroll__nextprev:hover, .headerscroll__navbuttton:hover {
        opacity: 1; }
    .headerscroll__nextprev {
      display: block;
      order: 2; }
      .headerscroll__nextprev li {
        margin-bottom: 10px; }
    .headerscroll__logo {
      width: 36px;
      margin-bottom: 10px; }
    .headerscroll__navbutton {
      justify-content: center;
      width: 36px;
      order: 1; }
    .headerscroll__bars {
      width: 33px;
      margin: 3px 0; }
    .headerscroll__dots {
      order: 3; }
      .headerscroll__dots li {
        display: block;
        margin: 5px 0; }
  .menutoggledscroll .header__bars:nth-of-type(1), .menutoggledscroll .header__bars:nth-of-type(2) {
    transform: rotate(-45deg) translateY(8px) translateX(-7px); }
  .mainscroll .icon--scroll {
    display: none; }
  .mainscroll__fecha {
    transform: none;
    position: relative;
    left: auto;
    top: auto;
    writing-mode: initial;
    font-size: 1.3em;
    margin-top: 20px;
    display: block;
    max-width: 650px;
    display: block;
    margin: 0 auto; }
  .mainscroll__article {
    justify-content: center; }
  .mainscroll__texto {
    width: 100%; }
    .mainscroll__texto h1, .mainscroll__texto h2, .mainscroll__texto h3, .mainscroll__texto p {
      max-width: 650px;
      display: block;
      margin: 0 auto; }
  .bloquescroll__wrp {
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
  .btn--serie {
    font-size: 1.4em; }
  .serie__texto {
    max-width: 800px; }
  .quienesscroll__wrp {
    max-width: 570px;
    margin: 0 auto; }
  .quienesscroll h3 {
    font-size: 5.6em; }
  .quienesscroll h2 {
    font-size: 8.5em;
    padding: 0 30px; }
  .fuentescroll {
    font-size: 1.3em; }
    .fuentescroll__wrp {
      max-width: 650px;
      margin: 0 auto; } }

@media (min-width: 1200px) {
  /* ... */ }

/* 

@media(min-width: 990px){
	.headerscroll{
		width: auto;
		height: 100vh;
		right: 0;
		left: auto;
		padding: 0 30px;
		background: none;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 8%;
		&__nextprev, &__navbuttton{
			opacity: 0.5;
			transition: $transition-scroll;
			margin-bottom: 10px;
			&:hover{
				opacity: 1;
			}
		}
		&__nextprev{
			display: block;
			order: 2;
			li{
				margin-bottom: 10px;
			}
		}
		&__logo{
			width: 36px;
			margin-bottom: 10px;
		}
		&__navbutton{
			justify-content: center;
			width: 36px;
			order: 1;
		}
		&__bars{
			width: 33px;
			margin: 3px 0;
		}
		&__dots{
			order: 3;
			li{
				display: block;
				margin: 5px 0;
			}
		}
	}
	.menutoggledscroll{
		.header{
			&__bars{
				&:nth-of-type(1), &:nth-of-type(2){
					transform: rotate(-45deg) translateY(8px) translateX(-7px);
				}
			}
		}
	}
	.mainscroll{
		.icon--scroll{
			display: none;
		}

		
		&__fecha{
			transform: none;
			position: relative;
			left: auto;
			top: auto;
			writing-mode: initial;
			font-size: 1.3em;
			margin-top: 20px;
			display: block;
			max-width: 650px;
			display: block;
			margin: 0 auto;
		}
		&__article{
			justify-content: center;
		}
		&__texto{
			width: 100%;
			h1,h2,h3,p{
				max-width: 650px;
				display: block;
				margin: 0 auto;
			}
		}
		
	}
	.bloquescroll{
		&__wrp{
			max-width: 650px;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
		}
	}
	.btn--serie{
		font-size: 1.4em;
	}
	.serie{
		&__texto{
			max-width: 800px;
		}
	}
	.quienesscroll{
		&__wrp{
			max-width: 570px;
			margin: 0 auto;
		}
		h3{
			font-size: 5.6em;
		}
		h2{
			font-size: 8.5em;
			padding: 0 30px;
		}
	}
	.fuentescroll{
		font-size: 1.3em;
		&__wrp{
			max-width: 650px;
			margin: 0 auto;
		}
	}

}
 */
