        <div class="contenedor-footer-copy">
            <div class="container footer-copy">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <ul class="nav justify-content-center">
                          <li class="nav-item">
                              <a class="nav-link" target="_blank" href="https://twitter.com/tedicpy" title="Twitter"><i class="fab fa-twitter"></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" target="_blank" href="https://www.facebook.com/tedicpy1/" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" target="_blank" href="https://instagram.com/tedicpy/" title="Instagram"><i class="fab fa-instagram"></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCMxOaxseyN5tcofJ0R1S8Zw" title="YouTube"><i class="fab fa-youtube"></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" target="_blank" href="https://mastodon.social/@tedicpy" title="Mastodon"><i class="fab fa-mastodon"></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" target="_blank" href="https://api.whatsapp.com/send?phone=+595992265790&text=Hola 👋 quiero suscribirme ✨" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <p>
                            Una publicación de <a href="https://www.tedic.org/" target="_blank">Tedic</a> en colaboración con Memetic, desde Asunción, Paraguay
                            <br>
                            <a href="https://www.tedic.org/contacto">contacto</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
