.elementor-5170 .elementor-element.elementor-element-55796e08{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-5170 .elementor-element.elementor-element-65c7b2d1 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-5170 .elementor-element.elementor-element-3462a7ea .elementor-heading-title{color:#212121;font-family:"Alegreya Sans", Sans-serif;font-size:40px;font-weight:500;line-height:1em;}.elementor-5170 .elementor-element.elementor-element-3462a7ea > .elementor-widget-container{margin:0px 0px 24px 0px;}.elementor-5170 .elementor-element.elementor-element-783163e0 .elementor-widget-container{color:#212121;font-family:"Alegreya Sans", Sans-serif;font-size:1.5em;line-height:1em;}.elementor-5170 .elementor-element.elementor-element-6b8ef6fe .elementor-icon-list-icon{width:14px;}.elementor-5170 .elementor-element.elementor-element-6b8ef6fe .elementor-icon-list-icon i{font-size:14px;}.elementor-5170 .elementor-element.elementor-element-6b8ef6fe .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-5170 .elementor-element.elementor-element-6b8ef6fe .elementor-icon-list-text, .elementor-5170 .elementor-element.elementor-element-6b8ef6fe .elementor-icon-list-text a{color:#212121;}.elementor-5170 .elementor-element.elementor-element-6b8ef6fe .elementor-icon-list-item{font-family:"Alegreya Sans SC", Sans-serif;font-size:17px;font-weight:400;text-transform:lowercase;line-height:1em;letter-spacing:1.4px;}.elementor-5170 .elementor-element.elementor-element-6b8ef6fe > .elementor-widget-container{margin:24px 0px 0px 0px;}.elementor-5170 .elementor-element.elementor-element-1b1af0c2 > .elementor-element-populated{padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-5170 .elementor-element.elementor-element-7c396f40 > .elementor-widget-container{margin:0px 0px 30px 0px;}}@media(min-width:768px){.elementor-5170 .elementor-element.elementor-element-65c7b2d1{width:32.951%;}.elementor-5170 .elementor-element.elementor-element-1b1af0c2{width:67.046%;}}@media(max-width:1024px) and (min-width:768px){.elementor-5170 .elementor-element.elementor-element-65c7b2d1{width:100%;}.elementor-5170 .elementor-element.elementor-element-1b1af0c2{width:100%;}}@media(max-width:767px){.elementor-5170 .elementor-element.elementor-element-3462a7ea .elementor-heading-title{font-size:35px;}}/* Start custom CSS for theme-post-title, class: .elementor-element-3462a7ea */.elementor-5170 .elementor-element.elementor-element-3462a7ea a:hover {
    color: #FF7171;
}/* End custom CSS */
/* Start custom CSS for post-info, class: .elementor-element-6b8ef6fe */.elementor-5170 .elementor-element.elementor-element-6b8ef6fe {
    font-variant: small-caps;
}

.elementor-5170 .elementor-element.elementor-element-6b8ef6fe .elementor-icon-list-item:last-child .elementor-icon-list-text {
    font-size: 14px;
}/* End custom CSS */