.elementor-9412 .elementor-element.elementor-element-5bc0d11f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-9412 .elementor-element.elementor-element-33e67f23 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-9412 .elementor-element.elementor-element-3fcda775 .elementor-button{font-family:"Alegreya Sans SC", Sans-serif;font-size:16px;font-weight:700;text-transform:lowercase;line-height:1.5em;letter-spacing:1.4px;fill:#212121;color:#212121;background-color:#FFFFFF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#212121;border-radius:4px 4px 4px 4px;padding:0em 0.5em 0em 0.5em;}.elementor-9412 .elementor-element.elementor-element-3fcda775 .elementor-button:hover, .elementor-9412 .elementor-element.elementor-element-3fcda775 .elementor-button:focus{color:#FFFFFF;background-color:#212121;border-color:#212121;}.elementor-9412 .elementor-element.elementor-element-3fcda775 .elementor-button:hover svg, .elementor-9412 .elementor-element.elementor-element-3fcda775 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-9412 .elementor-element.elementor-element-2b8ba04e .elementor-heading-title{color:#212121;font-family:"Alegreya Sans", Sans-serif;font-size:40px;font-weight:500;line-height:1em;}.elementor-9412 .elementor-element.elementor-element-2b8ba04e > .elementor-widget-container{margin:24px 0px 24px 0px;}.elementor-9412 .elementor-element.elementor-element-f1e0906 .elementor-widget-container{color:#212121;font-family:"Alegreya Sans", Sans-serif;font-size:1.5em;line-height:1em;}.elementor-9412 .elementor-element.elementor-element-d061a96 .elementor-icon-list-icon{width:14px;}.elementor-9412 .elementor-element.elementor-element-d061a96 .elementor-icon-list-icon i{font-size:14px;}.elementor-9412 .elementor-element.elementor-element-d061a96 .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-9412 .elementor-element.elementor-element-d061a96 .elementor-icon-list-text, .elementor-9412 .elementor-element.elementor-element-d061a96 .elementor-icon-list-text a{color:#212121;}.elementor-9412 .elementor-element.elementor-element-d061a96 .elementor-icon-list-item{font-family:"Alegreya Sans SC", Sans-serif;font-size:17px;font-weight:400;text-transform:lowercase;line-height:1em;letter-spacing:1.4px;}.elementor-9412 .elementor-element.elementor-element-d061a96 > .elementor-widget-container{margin:24px 0px 0px 0px;}.elementor-9412 .elementor-element.elementor-element-1c0af59d > .elementor-element-populated{padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-9412 .elementor-element.elementor-element-4f5c5a30 > .elementor-widget-container{margin:0px 0px 30px 0px;}}@media(min-width:768px){.elementor-9412 .elementor-element.elementor-element-33e67f23{width:32.951%;}.elementor-9412 .elementor-element.elementor-element-1c0af59d{width:67.046%;}}@media(max-width:1024px) and (min-width:768px){.elementor-9412 .elementor-element.elementor-element-33e67f23{width:100%;}.elementor-9412 .elementor-element.elementor-element-1c0af59d{width:100%;}}@media(max-width:767px){.elementor-9412 .elementor-element.elementor-element-2b8ba04e .elementor-heading-title{font-size:35px;}}/* Start custom CSS for button, class: .elementor-element-3fcda775 */.elementor-9412 .elementor-element.elementor-element-3fcda775 {
    font-variant: small-caps;
}/* End custom CSS */
/* Start custom CSS for theme-post-title, class: .elementor-element-2b8ba04e */.elementor-9412 .elementor-element.elementor-element-2b8ba04e a:hover {
    color: #FF7171;
}/* End custom CSS */
/* Start custom CSS for post-info, class: .elementor-element-d061a96 */.elementor-9412 .elementor-element.elementor-element-d061a96 {
    font-variant: small-caps;
}

.elementor-9412 .elementor-element.elementor-element-d061a96 .elementor-icon-list-item:last-child .elementor-icon-list-text {
    font-size: 14px;
}/* End custom CSS */