@media (min-width: 576px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    .card-title {
        font-size: 1.9rem;
        font-weight: 500;
        margin-top: 0;
    }

    .card-text {
        font-size: 1.3rem;
    }

    .header-navbar .nav-link {
        font-size: 1.3em;
    }

    .header-navbar .nav-link {
        padding: .5rem 0;
    }

    .header-social {
        padding-bottom: 1rem;
    }

    .header-social .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header-icono-fenomeno {
        width: auto;
    }

    .header .btn-primary {
        display: inline-block;
    }

    .container-nav {
        display: block;
        margin-bottom: 2rem;
    }

    .nav-up {
        border-bottom: 1px solid #DBDBDB;
        position: fixed;
        top: 60px;
    }
    
    .nav-up .portada-nav {
        border: none;
    }

    .faq-intro {
        padding-left: 15px;
        padding-right: 16%;
        text-align: left;
    }

    .contenido-columnas {
        margin-bottom: 4rem;
    }

    .links-canales .contenido-columnas {
        margin-bottom: 0;
    }

    .contenido-intro {
        padding-right: 16%;
        text-align: left;
    }

    .contenido-wide .contenido-intro {
        padding-right: 15px;
        text-align: center;
    }

    .contenido-wide .contenido-intro p {
        padding-left: 4em;
        padding-right: 4em;
    }

    .posts-not-found {
        border-bottom: 0;
        padding-bottom: 0;
        text-align: left;
    }

    .posts-mini-post-destacado .card {
        margin-bottom: 3rem;
    }

    .posts-mini-post {
        margin-bottom: 3rem;
        padding: 0 0 3rem;
    }

    .posts-mini-post h3 {
        font-size: 1.8em;
    }

    .posts-mini-post p {
        font-size: 1.2rem;
    }

    .footer h4 {
        margin-bottom: 1em;
    }

    .portada-intro {
        padding-top: 4rem;
    }

    .archivo-intro {
        border-bottom: none;
        margin-bottom: 1rem;
        padding-top: 2rem;
        padding-bottom: .8rem;
    }

    .autor-intro {
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .autor-intro .img-fluid {
        margin-bottom: 3rem;
        padding-left: 30%;
        padding-right: 30%;
    }
    
    .autor-intro p {
        font-size: 1.3em;
        padding-left: 10%;
        padding-right: 10%;
    }

    .portada-intro-borde {
        margin-bottom: 3rem;
        padding: 2rem 0 1.3rem;
    }

    .portada-destacado figure {
        margin-bottom: 0;
    }

    .portada-destacado-body {
        padding-right: 5%;
    }

    .portada-mini-columnas .posts-mini-post {
        margin-bottom: 2rem;
    }

    .portada-podcast-destacado {
        padding-bottom: 4rem;
    }

    .portada-podcast .podcast-intro figure {
        margin-top: 0;
    }

    .portada-podcast .podcast-intro-body {
        padding-right: 20%;
    }

    .portada-podcast .podcast-intro-body h2 {
        font-size: 2em;
        font-weight: 500;
        margin-top: .7em;
    }

    .container-page {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    .post-type-archive .portada-podcast .podcast-intro figure,
    .search-results .portada-podcast .podcast-intro figure {
        margin-bottom: 0;
    }

    .post-type-archive .portada-podcast-destacado,
    .search-results .portada-podcast-destacado {
        margin-bottom: 4rem;
    }

    .page-404 h2 {
        font-size: 3em;
        margin-top: 0;
    }

    .page-404-search .btn {
        top: .5rem;
    }

    .page-404-posts .card-title {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    
}