.container-single {
    margin-bottom: 4rem;
    margin-top: 68px;
    padding-top: 1.5rem;
}

.container-single a {
    color: #FF7171;
}

.container-single .btn-primary {
    color: #212121;
}

.container-single .btn-primary:hover,
.container-single .btn-primary:focus,
.container-single .btn-primary:active {
    color: #FFF;
}

.container-single .card-title a {
    color: #212121;
}

.single-meta {
    margin-bottom: 1rem;
}

.single-meta h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: .7em;
    margin-top: .5em;
}

.single-meta h5 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
}

.single-meta-autores,
.single-meta-fecha {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1rem;
    font-variant: small-caps;
    letter-spacing: 1.25px;
    line-height: 1;
    margin-bottom: .5em;
    text-transform: lowercase;
}

.container-single-blog .single-meta {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}

.post-body {
    font-size: 1.4em;
}

.post-body p {
    margin-bottom: 1.5em;
}

.post-body > div:first-child p:first-of-type::first-letter {
    color: #FF7171;
    float: left;
    font-size: 4em;
    line-height: .7em;
    margin-right: .1em;
}

.post-body h3 {
    color: #FF7171;
    font-size: 1.7em;
    font-weight: 500;
}

.single-imagen-destacada {
    margin-bottom: 2rem;
}

.single-imagen-grande figure {
    margin-bottom: 1rem;
}

.single-epigrafe {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1rem;
    font-variant: small-caps;
    letter-spacing: 1.25px;
    line-height: 1;
    padding-right: 20%;
    text-transform: lowercase;
}

.single-epigrafe-wide {
    padding-right: 0;
}

.post-body > div:first-child .single-epigrafe p:first-of-type::first-letter {
    color: #212121;
    float: none;
    font-size: 1.1rem;
    line-height: 1;
    margin-right: 0;
}

.single-cita {
    color: #FF7171;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 1em;
    margin-top: .5em;
    padding-right: 20%;
    text-align: left;
}

.single-cita p {
    margin-bottom: .2em;
}

.single-cita-autor {
    color: #231F20;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-variant: small-caps;
    letter-spacing: 1.25px;
    line-height: 1;
    text-transform: lowercase;
}

.single-cita-2 {
    margin-bottom: 1rem;
    text-align: center;
}

.single-cita-2 p {
    font-size: 2rem;
    font-style: italic;
    line-height: 1em;
    margin-bottom: 1em;
}

.post-body > div .single-cita-2 p:first-of-type::first-letter {
    color: #212121;
    float: none;
    font-size: inherit;
    line-height: inherit;
    margin-right: 0;
}

.container-single-cita-foto-meta {
    padding-bottom: 1rem;
}

.single-cita-foto-meta {
    margin-bottom: 0;
}

.single-cita-foto-meta figure {
    margin-bottom: 0;
}

.single-cita-foto-meta .card-body {
    text-align: center;
}

.single-cita-foto-meta .card-text {
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 2em;
}

.post-body > div .single-cita-foto-meta p:first-of-type::first-letter {
    color: #212121;
    float: none;
    font-size: inherit;
    line-height: inherit;
    margin-right: 0;
}

.single-cita-foto-meta .card-meta {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.cta-ddjj {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.postid-23832 .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.postid-23832 .modal-backdrop.in {
    opacity: .5;
}

.postid-23832 .modal {
    top: 11px;
}

.postid-23832 .modal.in {
    opacity: 1;
}

.postid-23832 .modal-dialog {
    margin-top: 10px;
}

.postid-23832 .modal-header {
    border-bottom: none;
}

.postid-23832 .estacion-enex__modal-desc h3 {
    color: #212121;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.postid-23832 .estacion-enex__modal-desc p {
    color: #989898;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 1;
    text-transform: lowercase;
}

.postid-23832 .estacion-enex__modal-desc p strong {
    color: #212121;
    font-weight: 700;
}

.postid-23832 #estacion-enex__modal-bajada {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 19px;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
    text-transform: none;
}

.postid-23832 #escuelas-fumigadas__map-modal {
    height: 500px;
}