@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    .container-single {
        padding-top: 3rem;
    }

    .single-meta {
        margin-bottom: 0;
        padding-right: 10%;
    }

    .single-meta h2 {
        font-size: 3em;
        font-weight: 700;
        margin-top: .7em;
    }

    .container-single-blog .single-meta {
        margin-bottom: 2rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .single-imagen-destacada {
        margin-bottom: 3rem;
    }

    .single-imagen-grande figure {
        margin-bottom: 4rem;
    }

    .single-intro {
        margin-top: 0;
    }

    .single-columna {
        padding-right: 16%;
    }

    .single-cita {
        font-size: 2em;
    }

    .single-cita-autor {
        padding-right: 60%;
    }

    .single-cita-2 {
        margin-bottom: 2rem;
        padding-right: 35%;
        text-align: left;
    }

    .container-single-cita-foto-meta {
        padding-bottom: 3rem;
    }

    .single-cita-foto-meta {
        margin-bottom: 0;
    }

    .single-cita-foto-meta .card-text {
        padding-left: 1em;
        padding-right: 1em;
    }

    .cta-ddjj {
        text-align: left;
    }

    .postid-23832 .modal {
        top: 51px;
    }
    
    .postid-23832 .modal-dialog {
        margin-top: 49px;
    }
}

@media (min-width: 1200px) {
    
}