@import url("./alegreya.css");

body {
  background: #fff;
  color: #212121;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  font-variant-numeric: lining-nums;
  scroll-behavior: smooth;  
  transition: all 0.5s ease 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.nav-show {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a {
    color: #212121;
}

a:hover,
a:focus,
a:active {
    color: #212121;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.wp-block-image img {
    height: unset;
}

.border {
    border: 1px solid #F6F6F6 !important;
}

.btn-primary {
    background-color: #FFF;
    border-color: #212121;
    color: #212121;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    padding: 0 .5em;
    text-transform: lowercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #212121;
    border-color: #212121;
    color: #FFF;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #919191;
    background-color: #FFFFFF;
    border-color: #212121;
}

.btn-primary.btn-lg {
    font-size: 1.1em;
    padding: .25rem 1rem;
}

.fas,
.fab {
    font-weight: 400;
}

.card {
    border: 1px solid #DBDBDB;
    border-radius: 0;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 0;
}

.card figure {
    margin-bottom: 1rem;
}

.card-body .btn-primary {
    margin-bottom: 1em;
}

.card-title {
    font-size: 1.6em;
    font-weight: 700;
}

.card-title a {
    color: #212121;
}

.card-title a:hover,
.card-title a:focus,
.card-title a:active {
    color: #FF7171;
    text-decoration: none;
}

.card-text {
    font-size: 1.1rem;
    line-height: 1;
    margin-bottom: 1.5em;
}

.card-meta {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1em;
    font-variant: small-caps;
    letter-spacing: 1.25px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 2em;
    text-transform: lowercase;
}

.post-meta-date {
    font-size: .8em;
}

.card-meta a {
    color: #FF7171;
}

.card-meta .btn-primary {
    font-size: .9rem;
}

.card-meta-bottom .card-meta {
    bottom: 1.25rem;
    margin-top: 0;
    position: absolute;
}

.card-meta-bottom .card-meta-centered {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.card-meta-bottom .card-title {
    margin-bottom: 2rem;
}

.container-header {
    background-color: #F6F6F6;
    padding-left: 0;
    padding-right: 0;
}

/* Wordpress admin bar */
.admin-bar .container-header {
    top: 32px;
}

.header {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.header figure {
    margin-bottom: 0;
}

.header a {
    color: #FF7171;
    font-size: 24px;
}

.navbar-close {
    display: none;
}

body.nav-show .navbar-close {
    display: block;
}

body.nav-show .navbar-open {
    display: none;
}

#header-desplegable {
    background-color: #EAEAEA;
    height: 0;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 71px;
    transition: height .5s cubic-bezier(0, 1, 0, 1);
    width: 100%;
}

#header-desplegable.show {
    height: calc(100vh - 71px);
    padding-top: 2rem;
    transition: height .5s ease-in-out;
}

.header-navbar {
    padding-bottom: 1.5rem;
}

.header-social {
    padding-bottom: 5.5rem;
}

.header-social .nav {
    border-top: 1px solid #B7B7B7;
    padding-top: 1rem;
}

.header-navbar h5 {
    border-bottom: 1px solid #B7B7B7;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 1;
    margin-bottom: .5em;
    padding-bottom: .5em;
    text-transform: lowercase;
}

.header-navbar .nav {
    display: block;
}

.header-navbar .nav-link {
    color: #000;
    font-size: 1.5em;
}

.header-social .nav-link {
    color: #989898;
    font-size: 1rem;
    padding-left: .8rem;
    padding-right: .8rem;
}

.header-navbar .nav-link:hover,
.header-social .nav-link:hover {
    color: #FF7171;
}

.header-navbar .nav-link {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: .8;
    padding: .75rem 0;
    text-transform: lowercase;
}

.header-navbar.header-fenomenos .nav-link {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.5em;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: unset;
    line-height: 1;
    text-transform: none;
}

.header-icono-fenomeno {
    margin-right: 1rem;
    width: 40px;
}

.header-navbar .nav-link i {
    font-size: .6em;
}

.header-revista img {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .25);
    margin: .8em 0;
}

.header .btn-primary {
    background-color: #FF7171;
    border-color: #FF7171;
    color: #FFF;
    display: none;
    font-size: 1.2rem;
}

.header .btn-primary:hover,
.header .btn-primary:active,
.header .btn-primary:focus {
    background-color: #212121;
    border-color: #212121;
    color: #FFF;
}

.container-nav {
    display: none;
}

.portada-nav {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    border-top: 1px solid #DBDBDB;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 3rem;
    padding-bottom: .4rem;
    padding-top: .5rem;
    text-transform: uppercase;
}

.portada-nav a {
    color: #212121;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portada-nav a:hover,
.portada-nav a:focus,
.portada-nav a:active {
    color: #FF7171;
    text-decoration: none;
}

.portada-nav .btn-primary {
    font-size: 1.2em;
}

.portada-nav .btn-primary:hover,
.portada-nav .btn-primary:focus,
.portada-nav .btn-primary:active {
    color: #FFF;
}

.portada-nav .nav-link.active {

    color: #FF7171;
}

.nav-ups .nav-fixed--secondary {
    position: fixed;
    bottom: auto;
    width: 100%;
    z-index: 99;
    opacity: 0;
    transition: top 0.2s ease-in-out;
}

.nav-down .nav-fixed--secondary {
    position: fixed;
    bottom: auto;
    width: 100%;
    z-index: 99;
    opacity: 1;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.nav-fixed--secondary .nav__items--secondary {
    padding: 1rem 0;
}

.nav-down {
    transform: none;
}

.nav-ups {
    /* transform: translate3d(0, -100%, 0); */
    transition: top 0.2s ease-in-out;
}

.navbar-form-search {
    position: relative;
}

.navbar-form-search .form-control {
    width: 220px;
}
    
.navbar-form-search .btn {
    border: 0;
    background: transparent;
    color: #FF7171;
    font-size: 18px;
}
    
.navbar-form-search .search-form-container {
    text-align: right;
    position: absolute;
    width: 220px;
    overflow: hidden;
    right: 60px;
    top: 0;
    z-index: 9;
    transition: all .3s ease-in-out;
}
    
.navbar-form-search .search-form-container.hdn {
    width: 0;
}

.navbar-form-search .search-input-group {
    width: 220px;
}

.footer {
    background-color: #F6F6F6;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.footer h4,
.footer h5 {
    color: #212121;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: lowercase;
}
  
.footer h4 {
    font-size: 1.3em;
}

.footer h5 {
    font-size: 1.2em;
}
  
.footer li {
    line-height: 1.8em;
}
  
.footer a {
    color: #616161;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    text-decoration: none;
}
  
.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #FF7171;
    text-decoration: none;
}

.footer .lista-links {
    border-top: 1px solid #DBDBDB;
    margin-bottom: 2rem;
    margin-top: .5rem;
}

.footer .lista-links li {
    font-size: 1em;
    padding: 1em 0;
}

.footer .lista-links li:nth-child(1) {
    padding-top: 1em;
}

.contenedor-footer-copy {
    background-color: #FFF;
}
  
.footer-copy {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
  
.footer-copy p {
    color: #989898;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: 400;
    letter-spacing: 1.25px;
    line-height: 1;
    margin-bottom: 8px;
    text-transform: lowercase;
}
  
.footer-copy a {
    color: #989898;
    text-decoration: none;
}
  
.footer-copy a:hover,
.footer-copy a:focus,
.footer-copy a:active {
    color: #FF7171;
    text-decoration: none;
}

.links-canales {
    background-color: #FFFFFF;
}

.links-canales .lista-links a {
    color: #616161;
    font-family: 'Alegreya Sans', sans-serif;
}

.contenido-columnas {
    margin-bottom: 3rem;
}

.links-canales .contenido-columnas {
    margin-bottom: 0;
}

.contenido-wide {
    margin-bottom: 3rem;
}

.contenido-intro {
    margin-bottom: 2rem;
    text-align: center;
}

.contenido-intro h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.6em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: .9;
    margin-bottom: .5em;
    text-transform: lowercase;
}

.contenido-intro p {
    font-size: 1.2em;
    line-height: 1;
}

.contenido-intro a {
    color: #FF7171;
}

.posts-not-found {
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 1.5rem;
    text-align: center;
}

.posts-mini-post-destacado .card figure {
    margin-bottom: 0;
}

.posts-mini-post {
    border-bottom: 1px solid #DBDBDB;
    margin: 0 0 1.5rem;
    padding-bottom: 1.5rem;
}

.posts-mini-post h3 {
    margin-top: 0;
}

.posts-mini-post .card-body {
    padding: 0 0 0 .7rem;
}

.posts-mini-post .card-text {
    margin-bottom: 1rem;
}

.posts-mini-post .card-meta {
    margin-top: 0;
}

.posts-mini-post .card-meta p {
    margin-bottom: 0;
}

.posts-mini-post figure {
    margin-bottom: 0;
}

.lista-links {
    margin-bottom: 2rem;
}

.lista-links li {
    border-bottom: 1px solid #DBDBDB;
    font-size: 1.5em;
    line-height: 1;
    padding: 1em .5em;
}

.lista-links li:nth-child(1) {
    padding-top: 0;
}

.lista-links a {
    color: #212121;
}

.lista-links a:hover,
.lista-links a:focus,
.lista-links a:active {
    color: #FF7171;
    text-decoration: none;
}

.lista-links p {
    margin-bottom: 0;
}

.container-faq {
    background-color: #F6F6F6;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.faq-intro {
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.faq-intro h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.8em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: .9;
    margin-bottom: .5em;
    text-transform: lowercase;
}

.faq-intro p {
    font-size: 1.2em;
    line-height: 1;
}

.accordion-faq .card {
    background: none;
    border: none;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 0;
}

.accordion.accordion-faq>.card:not(:last-of-type) {
    border-bottom: 1px solid #DBDBDB;
}

.accordion-faq .card-header {
    background: none;
    border-bottom: 1px solid #DBDBDB;
    padding: 0;
}

.accordion-faq .card-header h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    line-height: 1;
    padding: 0;
}

.accordion-faq .card-header .btn {
    font-size: 1.5em;
    padding: 0.5em 0;
}

.accordion-faq .card:nth-child(1) .card-header .btn {
    padding-top: 0;
}

.accordion-faq .card-header .btn-link {
    color: #212121;
}

.accordion-faq .card-header .btn-caret .fas {
    color: #212121;
    font-size: .7em;
    transition: all 0.5s ease 0s;
}

.accordion-faq .card-header .btn-caret .fa-arrow-down.rotated {
    transform: rotate(-90deg);
}

.accordion-faq .card-header .btn-link:hover,
.accordion-faq .card-header .btn-link:focus,
.accordion-faq .card-header .btn-link:active,
.accordion-faq .card-header .btn-link:hover .fa-arrow-down,
.accordion-faq .card-header .btn-link:focus .fa-arrow-down,
.accordion-faq .card-header .btn-link:active .fa-arrow-down {
    color: #FF7171;
    text-decoration: none;
}

.accordion-faq .card-body {
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;
}

/* Portada */

.portada-seccion {
    border-top: 1px solid #DBDBDB;
    margin: 1.5rem 0 4rem;
    padding-top: 1.5rem;
}

.portada-seccion-top .btn-primary {
    margin-bottom: 1.5rem;
}

.portada-seccion-top .btn-primary i {
    font-size: .7em;
}

.portada-seccion-top h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: .9;
    margin-bottom: 1.5rem;
    text-transform: lowercase;
}

.portada-intro,
.archivo-intro {
    margin-top: 68px;
    padding-top: 1.5rem;
    text-align: center;
}

.archivo-intro {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 2rem;
    padding-bottom: .8rem;
}

.portada-intro h1,
.archivo-intro h1 {
    font-size: 2em;
    font-weight: 700;
}

.portada-intro p,
.archivo-intro p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1;
}

.autor-intro {
    padding-left: 10%;
    padding-right: 10%;
}

.autor-intro .img-fluid {
    margin-bottom: 2rem;
}

.autor-intro h1 {
    margin-bottom: 1rem;
}

.autor-intro p {
    font-size: 1.5em;
    font-style: italic;
}

.portada-destacado {
    border-top: none;
    margin-top: 0;
    padding: 0;
}

.portada-destacado h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.5em;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1;
    margin-bottom: .7em;
    margin-top: .7em;
    text-transform: none;
}

.portada-destacado h2 a:hover,
.portada-destacado h2 a:focus,
.portada-destacado h2 a:active {
    color: #FF7171;
    text-decoration: none;
}

.portada-destacado p {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

.portada-destacado .portada-destacado-meta {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1em;
    font-variant: small-caps;
    letter-spacing: 1.25px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 1.4em;
    text-transform: lowercase;
}

.portada-destacado p a {
    color: #FF7171;
}

.portada-podcast-destacado {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
}

.portada-podcast .podcast-intro figure {
    margin: 0;
}

.portada-podcast .podcast-intro-body {
    margin-bottom: 2rem;
}

.portada-podcast .podcast-intro-body h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: .7em;
    margin-top: .5em;
}

.portada-podcast .podcast-intro-body h2 a {
    text-decoration: none;
}

.portada-podcast .podcast-intro-body h2 a:hover,
.portada-podcast .podcast-intro-body h2 a:active,
.portada-podcast .podcast-intro-body h2 a:focus {
    color: #FF7171;
}

.portada-podcast .podcast-intro-body h5 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 1em;
}

.portada-podcast .podcast-intro-meta {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1rem;
    font-variant: small-caps;
    letter-spacing: 1.25px;
    line-height: 1;
    margin-bottom: .5em;
    text-transform: lowercase;
}

.portada-podcast .plyr--audio .plyr__controls {
    background: #FFF;
    border-radius: inherit;
    color: #212121;
}

.portada-podcast .plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: #FF7171;
    color: #fff;
}

.portada-podcast .plyr--full-ui input[type=range] {
    color: #FF7171;
}

.portada-podcast .plyr__control svg {
    fill: #212121;
    height: 32px;
    width: 32px;
}

.portada-podcast .plyr--audio .plyr__progress__buffer {
    display: none;
}

.portada-podcast .factcheck-meta .badge {
    color: #FFF;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: .8em;
    letter-spacing: 1.4px;
    padding: .75em 2em .5em;
    text-transform: uppercase;
}

.portada-podcast .factcheck-meta .badge-danger {
    background-color: #FF4646;
}

.portada-podcast .factcheck-meta .badge-warning {
    background-color: #FFAA4B;
}

.portada-podcast .factcheck-meta .badge-success {
    background-color: #89D144;
}

.portada-podcast .factcheck-meta .badge-info {
    background-color: #4230bc;
}

.portada-mini-columnas {
    margin-top: 1.5rem;
}

.portada-mini-columnas h2 {
    line-height: 1;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.portada-mini-columnas h2 i {
    font-size: 0.8em;
    margin-left: 0.5em;
}

.portada-mini-columnas .posts-mini-post {
    border: 1px solid #DBDBDB;
    margin: 0 0 1rem;
    padding: .7rem;
}

.portada-mini-columnas .card-title {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.portada-mini-columnas .card-meta-bottom .card-meta {
    bottom: auto;
    margin-top: 0;
    position: relative;
}

.contenido-columnas .portada-posts-afiches {
    margin-bottom: 3rem;
}

.portada-posts-afiches .card,
.portada-posts-afiches .card figure {
    margin-bottom: 0;
}

.portada-autores .card-body {
    padding-top: 0;
    text-align: center;
}

.portada-autores .card-body h2 {
    color: #212121;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.7em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.25px;
    line-height: .9;
    margin-bottom: 0em;
    text-transform: lowercase;
}

.portada-autores .card-body p {
    font-size: 1.1em;
    color: #989898;
    font-weight: 700;
    margin-bottom: 0;
}

.portada-autores .card-body .card-text {
    color: #212121;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 500;
}

.boton-responder {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.1rem;
    line-height: 24px;
    color: #989898!important;
    padding-bottom: 3px;
}
.boton-responder:hover,
.boton-responder:active,
.boton-responder:focus {
    color: #fff!important;
}

.remove-b {
    border: none;
}

.title-fenomeno-su {
    color: #989898;
    font-size: 1rem;
}

.pagination ul {
    display: flex;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    list-style: none;
    margin: 3rem 0 0;
    padding: 0;
    text-transform: lowercase;
}

.pagination ul li a,
.pagination ul li .current {
    border: 1px solid #DBDBDB;
    display: block;
    margin-left: -1px;
    padding: .2em .75em;
    position: relative;
}

.pagination ul li a:hover,
.pagination ul li a:focus,
.pagination ul li a:active {
    background-color: #DBDBDB;
    text-decoration: none;
}

.pagination ul li .current {
    background-color: #FF7171;
    border-color: #FF7171;
    color: #FFFFFF;
}

.no-posts a {
    color: #FF7171;
}

.plyr--audio .plyr__controls {
    background: #FFF !important;
    border-radius: inherit !important;
    color: #212121 !important;
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true] {
    background: #FF7171 !important;
    color: #fff !important;
}

.plyr--full-ui input[type=range] {
    color: #FF7171 !important;
}

.plyr__control svg {
    fill: #212121 !important;
    height: 32px !important;
    width: 32px !important;
}

.plyr--audio .plyr__progress__buffer {
    display: none !important;
}

.post-type-archive .alm-btn-wrap,
.search-results .alm-btn-wrap {
    text-align: center;
}

.post-type-archive .portada-podcast .podcast-intro figure,
.search-results .portada-podcast .podcast-intro figure {
    margin-bottom: 1rem;
}

.post-type-archive .portada-podcast-destacado,
.search-results .portada-podcast-destacado {
    margin-bottom: 3rem;
}

.fenomenoSeccionIntro__lead {
    font-size: 1.2em;
    line-height: 1;
}

.footerPagopar {
    display: none !important;
}

.page-404 {
    margin-bottom: 2rem;
    margin-top: 71px;
}

.page-404 h2 {
    font-size: 2.5em;
    margin-bottom: 2rem;    
    margin-top: 1rem;
}

.page-404-search {
    margin-bottom: 2rem;
    position: relative;
}

.page-404-search .form-control {
    border-color: #FF7171;
    color: #212121;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: lowercase;
}

.page-404-search .form-control::placeholder {
    color: #FF7171;
}

.page-404-search .btn {
    color: #FF7171;
    font-size: 1.5rem;
    position: absolute;
    right: .2rem;
    top: .3rem;
}

.page-404-links {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    list-style: none;
    padding-left: 0;
    text-transform: lowercase;
}

.page-404-links i {
    font-size: .8rem;
}

.page-404-links a {
    color: #212121;
    text-decoration: none;
}

.page-404-links a:hover,
.page-404-links a:focus,
.page-404-links a:active {
    color: #FF7171;
    text-decoration: none;
}

.page-404-posts {
    margin-bottom: 3rem;
}

.page-404-posts-title {
    border-top: 1px solid #DBDBDB;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
    text-transform: lowercase;
}

.page-404-posts .card figure {
    margin-bottom: 0;
}
